@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
.linkscat a:hover,
.linkscat ul li a:hover,
.msn_store a:hover,
.reloadcart:hover,
.repeat .mdl-card__supporting-text a,
.star-rating a {
    text-decoration: none
}

.bonodiv,
.linedoc,
.lineselect,
.user-name,
.user_image {
    text-align: center
}

h2 {
    margin-top: 0!important
}

h3 {
    font-size: 24px!important;
    webkit-font-smoothing: antialiased;
    color: #1f1f1f;
    margin: 0;
    line-height: 1.4
}

.ingress,
.ingress:hover,
.mdl-layout__header-row .mdl-navigation__link {
    cursor: pointer
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot);
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype")
}

body {
    font-family: Lato, sans-serif
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}

.home_init{
    font-family: Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
}

.home_init #login hr{
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    margin: 1em 0 !important;
    padding: 0 !important;
}

.home_init #login .modal-title{
    font-weight: normal;
    line-height: 1.428571429;
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
}

.home_init #login h5{
    margin: 24px 0 16px;
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
}

.text-center,
.text-center a {
    font-weight: 400!important;
}

main {
    background: #fafafa
}

.acme-card-wide.mdl-card {
    width: 100%
}

.acme-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url(../assets/images/yeoman.png) center/cover no-repeat;
    background-size: 110px
}

.acme-card-wide>.mdl-card__menu,
.acme-card-wide>.mdl-card__title>.mdl-card__title-text {
    color: #000
}

.text-center a {
    color: #484b55!important;
    font-size: 14px
}

.acme-card-square.mdl-card {
    width: 100%;
    min-height: 118px;
    font-size: 28px
}

.acme-card-square>.mdl-card__title {
    color: #fff;
    background: #283593
}

.acme-card-square>.mdl-card__media {
    color: #fff;
    background: 0 0
}

.acme-card-square>.mdl-card__media img {
    height: 100px
}

.form-group p {
    text-align: justify
}

.mdl-layout__drawer,
.mdl-layout__header {
    background-color: #2e313d;
    color: #fff;
    border: none
}

.mdl-layout__drawer .mdl-navigation__link {
    color: #fff
}

.logo {
    padding: 0;
    margin: 0 0 0 -15px;
    text-align: center;
}

.logo img {
    height: 45px
}

.mdl-layout__drawer-button {
    display: none
}

.checkout-state {
    font-size: 36px
}

.contentmenu_home {
    display: block;
    position: relative
}

.dataleft,
.dataright,
.logtexttienda div,
.reloadcart,
.repeat,
.user_image {
    display: inline-block
}

.dropdown-menuhome {
    position: absolute!important;
    left: -75%!important;
    top: 3em!important
}

.headroom--unpinned {
    transform: translateY(-110px)
}

.repeat .abierto,
.repeat .cerrado {
    position: relative;
    text-transform: uppercase
}

.acme-malarkey,
.descripcionhorario .entradatienda p,
.repeat .mdl-card__supporting-text h3,
.select_new h3,
.user-name {
    text-transform: capitalize
}

.dropdown-menu-large {
    margin-top: -28px!important
}

.caret_ico {
    font-size: 14px;
    margin-left: 7px
}

.titlecontent {
    font-size: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(255, 255, 255, .54);
    padding-top: 1%;
    padding-bottom: 1%
}

.pagefondo_mobile .titlecontent {
    font-size: 70%;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: transparent;
    padding-top: 1%;
    padding-bottom: 0%;
    color: #fff
}

.titlecontent p {
    font-size: 1em!important;
    font-weight: 400;
    color: #2e313d
}

.pagefondo_mobile .titlecontent p {
    font-size: 1em!important;
    font-weight: 400;
    color: #fff
}

.pagefondo_mobile .titlecontent .mdl-card__title-text,
.titlecontent .mdl-card__title-text {
    text-align: center;
    font-size: 3.5em!important;
    width: 100%;
    font-weight: 700;
    display: inline-block;
    font-family: Lato, sans-serif
}

.titlecontent .mdl-card__title-text {
    color: #2e313d
}

.pagefondo_mobile .titlecontent .mdl-card__title-text {
    color: #fff
}

.lineselect {
    border-top: 2px solid #000;
    width: 50%;
    margin: 2% auto 0
}

.lineselect h2 {
    font-size: 2em;
    padding-top: 2%;
    padding-bottom: 2%
}

.pro-row p {
    text-align: justify!important
}

.mdl-card__media {
    background-color: #fff;
    padding: 15px
}

.repeat {
    width: 17%;
    margin-left: 1.5%;
    margin-right: 1.21%;
    margin-bottom: 2.5%;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .54);
    -moz-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .54);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .54);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.repeat_Merqueo .mdl-card,
.repeat_Merqueo .mdl-card__media {
    background-color: #2e313d
}

.repeat_Colsubsidio .mdl-card,
.repeat_Colsubsidio .mdl-card__media {
    background-color: #001964
}

.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0
}

.mdl-layout__drawer .mdl-navigation {
    padding: 0
}

.mdl-layout-title {
    position: relative;
    background: #50944a;
    height: 180px
}

.user_image {
    width: 100%;
    padding-top: 25px;
    font-size: 55px;
    padding-bottom: 10px
}

.user_image .fa-user {
    padding: 15px 25px 21px;
    background-color: #fff;
    color: #2e313d;
    border-radius: 50%
}

.user-name {
    margin-top: 15px;
    margin-bottom: 15px
}

.logtexttienda .cerrado {
    background-color: #D25454!important
}

.logtexttienda .log {
    width: 45%;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 188px;
    background-position: 0, 0;
    margin-right: 10%
}

.logtexttienda .log img {
    max-width: 85%
}

.logtexttienda .log h1 {
    position: absolute;
    top: -1000px
}

.logtexttienda .open_link {
    vertical-align: bottom;
    padding-bottom: 7%;
    width: 19%;
    text-align: left
}

.reloadcart {
    background-color: #67b65f;
    border-radius: 5px;
    color: #fff;
    padding: 1px 12px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px
}

#coverage,
.msn_store {
    display: none
}

.reloadcart:hover {
    background-color: #fff!important
}

.btn-group .btn.rig {
    border-radius: 0 5px 5px 0!important
}

.msn_store {
    margin-right: 16px;
    overflow: hidden;
    margin-top: -61px;
    position: absolute;
    z-index: 9999;
    left: 18%
}

.store_skew {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background-color: #ffb460;
    width: 234px;
    margin-left: 6px
}

.store_skew p {
    font-style: normal;
    color: #9e631f
}

.store_skew span {
    color: #83511c;
    font-weight: 700
}

.text_hora {
    color: #b4b4b4;
}

.text_hora p {
    margin-top: 1px;
    margin-bottom: 0
}

.text_hora h1 {
    font-size: 20px;
    font-weight: 400;
    color: #50944a;
    margin:0px;
    letter-spacing: 0.09em;
}

.product-view h1{
    font-size: 24px!important;
    color: #1f1f1f;
    margin: 0;
    line-height: 1.4;
}

.dropdown-menu li span{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #9b9b9b;
    font-size: 22px;
}

.bonodiv strong,
.repeat .abierto {
    font-weight: 700
}

.logtexttienda .mdl-card__supporting-text {
    background-color: #68b660;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    color: #fff;
    padding: 5px 24px 7px 15px;
}

.breadcrumb{
    width: 92.3%;
}

.breadcrumb a:hover{
    color: #50944a;
}

.terminos_link,
.terminos_link:hover {
    color: #42444e
}

.bonodiv {
    background-color: #f5a623;
    line-height: 2px;
    margin-top: 0;
    height: 45px
}

.bonodiv p{
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.repeat a {
    color: #fff!important
}

.repeat img {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 30%
}

.dataleft,
.dataright {
    vertical-align: top;
    width: 45%
}

.header-message {
    border: 1px solid #d9941f;
    background-color: #fbdb86!important;
    color: #000;
    height: 34px;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px
}

.header-message span {
    color: #000!important;
    font-weight: 700
}

.mdl-navigation__link strong:hover,
.mdl-navigation__link:hover {
    color: #fff;
    text-decoration: none
}

.repeat .mdl-card__supporting-text {
    background-color: #88b449;
    padding-top: 4%;
    color: #fff
}

.pagefondo {
    color: #fff;
    background: url(../../img/newdesign/header.jpg) center top repeat-x;
    background-size: 100% 100%;
}

.pagefondo_mobile {
    color: #fff;
    background: url(../../img/newdesign/header_top.jpg) center top;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    position: fixed;
}

.pagefondo .titlecontent h1,
.pagefondo .titlecontent h2 {
    color: #000!important
}

.navbar-form.navbar-left .btn-default,
.navbar-form.navbar-left input {
    min-height: 39px
}

.navbar-default .border-right {
    min-height: 40px!important
}

.imagenico,
.textico {
    vertical-align: top;
    float: left
}

.repeat .cerrado {
    background-color: #9f4242;
    font-size: 53%;
    font-weight: 700
}

.acme-card-square {
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

.hederdescriptivo {
    background-color: #f4f4f4;
    height: 46px;
    padding-top: 7px;
    padding-bottom: 7px
}

.headerlogo {
    height: 60px;
}

.nav .headerlogo {
    height: 60px!important;
    padding-top: 9px!important
}

.navbar-form.navbar-left .btn-default,
.navbar-form.navbar-left input {
    height: auto
}

.elementoslist {
    padding: 0;
    margin: 0 4% 0 0;
    height: 32px
}

.imagenico {
    width: 42px;
    height: 31px
}

.hederdescriptivo .elementoslist:nth-child(1) {
    margin-left: 4.2%
}

.hederdescriptivo .elementoslist:nth-child(3) {
    margin-right: 1px;
    width: 21%
}

.hederdescriptivo .elementoslist:nth-child(2).imagenico {
    width: 54px!important
}

.hederdescriptivo .elementoslist:nth-child(3) .imagenico {
    width: 42px;
    margin-top: 0
}

.hederdescriptivo .elementoslist:nth-child(3) .textico h6{
    margin-top: 8px
}

.hederdescriptivo .elementoslist:nth-child(4) .textico h6{
    margin-top: 8px
}


.hederdescriptivo .elementoslist:nth-child(4) .textico h6 {
    margin-top: 8px
}

.hederdescriptivo .elementoslist:nth-child(5) .imagenico,
.textico h6 {
    margin-top: 0
}

.imagenico img {
    height: 31px;
    width: auto
}

.textico {
    width: 56%;
    font-size: 1.2em;
    color: #42444e;
    margin-left: 4px;
    font-family: Lato, sans-serif;
    font-weight: 400
}

.textico h6 {
    font-size: 12px;
    line-height: 16px
}

.star-rating {
    display: inline-block;
    margin-bottom: 25px
}

.star-rating a {
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 35px;
    color: #95A5A6;
    text-align: center;
    -webkit-transition: color .3s;
    transition: color .3s
}

./*star-rating .active,
.star-rating a:hover,
.star-rating a:hover~a {
    color: #F39C12
}*/

#calificate {
    font-size: 25px
}

.mensajetext button,
.mensajetext textarea {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: none;
    display: inline-block;
    vertical-align: top
}

.mensajetext {
    text-align: right
}

.mensajetext textarea {
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #cecece;
    background-color: #f7f7f7
}

.mensajetext button {
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #f5a623;
    color: #fff;
    text-align: right;
    border: none
}

.mdl-layout__content {
    margin: 0!important
}

.category-msg,
.elemtsform .textdesx strong:nth-child(1) {
    margin-right: 15px
}

footer {
    background-color: #fff!important;
    color: #42444e!important
}

.elemtsform .textdesx {
    margin-top: 13px
}

.elemtsform .textdesx a:nth-child(1) {
    display: inline-block;
    vertical-align: top;
    margin: 2% 0%;
}

.elemtsform .textdesx h5:nth-child(2) {
    display: inline-block;
    vertical-align: top;
    margin: 2.4% 2% 2% 4%;
}

.elemtsform .textdesx h5:nth-child(2) a{
    color: #484b55;
    text-decoration: none;
}

.elemtsform .textdesx h5:nth-child(2) a:hover{
    color: #5cb85c;
    text-decoration: none;
}

.elemtsform .textdesx h5:nth-child(3) {
    display: inline-block;
    vertical-align: top;
    margin:2.4% 2%;
}

.elemtsform .textdesx h5:nth-child(3) a{
    color: #484b55;
    text-decoration: none;
}

.elemtsform .textdesx h5:nth-child(3) a:hover{
    color: #5cb85c;
    text-decoration: none;
}

.applinks h5,
.linkscat h5,
.redescont,
.redescont h5 {
    margin-top: 0
}

.elemtsform .textdesx p {
    text-align: justify;
    width: 87%
}

.elemtsform .alerts,
.elemtsform input {
    width: 100%;
    height: 39px;
    padding-left: 10px;
    font-size: 14px;
    outline: 0;
    box-shadow: none
}

.elemtsform h5 {
    font-size: 14px;
    margin-top: 0
}

.elemtsform .mdl-cell--9-col {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: calc(80% - 11px);
    min-width: calc(83% - 12px);
    max-width: calc(85% - 5px);
}

.elemtsform .mdl-cell--3-col {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    max-width: calc(25% - 66px);
}

.elemtsform .mdl-cell--12-col{
    margin-left: 0%;
}

.alerts {
    display: none;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2%;
    background: #efefef;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-top: 2%
}

.elemtsform .good {
    background-color: #88b44a;
    vertical-align: middle
}

.elemtsform .bad {
    background-color: #c70e34;
    vertical-align: middle
}

.category-msg {
    width: 92%;
    margin-left: 15px;
    display: block;
    font-size: 8px;
    background-color: #f5a622;
    color: #ffffff;
    text-align: center;
    padding: 0!important
}

.category-msg h2 {
    color: #a1a1a1;
    line-height: 23px;
    font-size: 14px;
    padding: 5px;
    margin: 0
}

.category-msg p{
	font-size: 13px;
}
.elemtsform input {
    background: #efefef;
    margin-bottom: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none
}

.elemtsform button {
    background-color: #f5a623;
    border: none;
    color: #fff;
    height: 35px;
    border-radius: 5px;
    padding: 5px 14px;
}

.linkscat,
.linkscat a {
    color: #484b55!important
}

.elemtsform img {
    height: auto
}

.linkscat {
    width: 18%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
}

.linkscat ul {
    margin-left: 0;
    padding-left: 1px;
    list-style: none
}

.linkscat a:hover,
.linkscat ul li a,
.linkscat ul li a:hover {
    color: #484b55
}

.linkscat:nth-child(1) {
    width: 21%
}

.linkscat:nth-child(3) {
    width: 22%
}

.linkscat h5 {
    font-size: 12px
}

.linkscat li {
    font-size: 65%;
    line-height: 15px;
    color: #75767c
}

.redescont {
    margin-left: 9px
}

.redescont h5 {
    font-size: 12px
}

.select_new,
.select_new h3 {
    font-size: 14px!important;
    display: inline-block;
    color: #fff
}

.redescont img {
    margin: 0;
    padding: 0;
}

.applinks,
.redes {
    display: inline-block;
    vertical-align: top
}

.android-footer .linedoc {
    border-top: 2px solid #2e313d;
    width: 85%
}

.mdl-mega-footer {
    padding-left: 5%;
    padding-right: 5%
}

.itemsselect_new {
    background-color: #2e313d;
    color: #fff;
    -webkit-box-shadow: 0 -1px 11px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 -1px 11px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 -1px 11px 0 rgba(50, 50, 50, .75)
}

.itemsselect_new .mdl-menu__item {
    color: #fff
}

.itemsselect_new .mdl-menu__item:hover {
    background-color: #292b36!important
}

.navbar-brand img {
    width: 100%
}

.navbar .search_form {
    margin-left: 0;
    width: 38%
}

.nav .link {
    border-top: 0!important;
    border-bottom: 0!important;
    border-radius: 0
}

.nav li:nth-child(5) .link {
    border-right: 0
}

.nav li:nth-child(2) .link {
    border-right: 0;
    border-left: 0;
    cursor: pointer
}

.nav li:nth-child(2) .link:hover {
    color: #fff;
    text-shadow: none
}

.navbar-header {
    float: left;
    width: 15%
}

.logtexttienda {
    margin-top: 3%
}

.pro-row {
    margin-top: 0!important
}

.product-column .product-cart .count {
    line-height: 78px!important
}

.categorialiststore {
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    text-align: left;
}

.categorialiststore h2{
    border-bottom: 1px solid #efefef;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}
.contformsearch input{
    width: 25%;
    background: #efefef !important;
}

.pro-bg-search{
    margin-top: 3%;
}

.categorialiststore .linkscat{
    display: inline-block;
    vertical-align: top;
    width: 13%;
    text-align: left;
    min-width: 165px;
    margin-bottom: 2%;
    font-size: 16px;
}

.categorialiststore .linkscat li{
    font-size: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.categorialiststore .linkscat h5 {
    font-size: 14px;
    font-weight: bold;
}

.categorialiststore .linkscat a:hover{
    color: #5cb85c !important;
}

.android-footer .linkscat a:hover{
    color: #5cb85c !important;
}

.breadcrumb>li {
    margin: 0px -6px 0px 10px;
}




@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .mdl-layout__drawer-button {
        display: block
    }
    .logo {
        margin-left: -25px;
        text-align: center
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
}

@media only screen and (max-width:839px) and (min-width:480px) and (orientation:portrait) {
    .repeat {
        width: 42%
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1) {
    .repeat {
        width: 29%!important;
        margin: 1%
    }
    .acme-card-square {
        min-height: 100%!important
    }
    .mdl-layout.is-small-screen .mdl-layout--large-screen-only {
        display: block
    }
    .mdl-navigation__link {
        width: 19%;
        display: inline-block!important;
        text-align: center
    }
    .logo img,
    .mdl-cell--12-col-tablet {
        width: 100%
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .hederdescriptivo {
        display: none!important
    }
    .categorialist,
    .contpagos,
    .redescont,
    .textdesx {
        display: none
    }
    .mdl-layout--large-screen-only {
        display: none!important
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
    .items_botones {
        padding-left: 29%!important
    }
    .mobile_select {
        padding-left: 21%!important;
        padding-right: 21%!important
    }
}

@media only screen and (min-device-width:730px) and (max-device-width:732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1) {
    .repeat {
        width: 41%;
        margin: 3% 1% 2%;
    }

    .repeat .mdl-card__supporting-text .titleint h3 {
        font-size: 21px !important;
        line-height: 1.2 !important;

    }

    .mdl-layout__drawer-button {
        display: block
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .logo {
        margin-left: 14%;
        text-align: center
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
    .items_botones {
        padding-left: 29%!important
    }
    .mobile_select {
        padding-left: 21%!important;
        padding-right: 21%!important
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1) {
    .repeat {
        margin: 3% 1% 2%
    }

    .repeat .mdl-card__supporting-text .titleint h3 {
        font-size: 21px !important;
        line-height: 1.2 !important;

    }

    .mdl-layout__drawer-button {
        display: block
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .logo {
        margin-left: 14%;
        text-align: center
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
    .items_botones {
        padding-left: 29%!important
    }
    .mobile_select {
        padding-left: 21%!important;
        padding-right: 21%!important
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) and (orientation:portrait) {
    .mdl-navigation__link {
        color: #fff!important
    }
    .titlecontent .mdl-card__title-text {
        font-size: 2em!important
    }
    .lineselect h2 {
        font-size: 2em
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 17px!important
    }
    .mdl-card__supporting-text {
        font-size: 15px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
    .content_faq .cont_data_left {
        padding-left: 0px !important;
        margin-right: 3% !important;
        margin-left: 6% !important;
    }

    .content_faq .cont_divi_right{
        padding-left: 0px !important;
        margin-right: 3% !important;
        margin-left: 6% !important;
    }

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 20% !important;
    }

    .content_faq .cont_text_lim {
        width: 66% !important;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 17px !important;
        font-weight: bold !important;
    }

    .content_faq .cont_post_data:before {
        margin-left: 79% !important;
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .repeat {
        width: 46%!important;
        margin: 1%
    }
    .acme-card-square {
        min-height: 100%!important
    }
    .logo {
        margin-left: 11%;
        text-align: center
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .logo img {
        width: 100%
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }

}

@media only screen and (min-device-width:320px) and (max-device-width:568px) and (-webkit-min-device-pixel-ratio:2) {
    .logo {
        margin-left: 11%;
        text-align: center
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .repeat {
        width: 100% !important;
        margin: 1% 2% 1% 1%;
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    .repeat {
        width: 46%!important;
        margin: 1%
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .logo {
        margin-left: 10%;
        text-align: center
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .descripcionhorario p {
        line-height: 17px!important
    }
    .mdl-card__supporting-text {
        font-size: 17px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }

    .content_faq .cont_data_left {
        padding-left: 0px !important;
        margin-right: 3% !important;
        margin-left: 6% !important;
    }

    .content_faq .cont_divi_right {
        padding-left: 0px !important;
        margin-right: 3% !important;
        margin-left: 6% !important;
    }

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 16% !important;
    }

    .content_faq .cont_text_lim {
        width: 66% !important;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 17px !important;
        font-weight: bold !important;
    }

    .content_faq .cont_post_data:before {
        margin-left: 76% !important;
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) and (orientation:portrait) {
    .logo {
        margin-left: -5%;
        text-align: center
    }
    .repeat {
        width: 100%!important;
        margin: 1% 2% 1% 1%
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
}

@media only screen and (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
    .repeat {
        width: 46%!important;
        margin: 1%
    }
    .mdl-navigation__link {
        color: #fff!important
    }
    .logo {
        margin-left: 10%;
        text-align: center
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .columdesk,
    .mdl-layout--large-screen-only {
        display: none
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 22px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
    .items_botones {
        padding-left: 29%!important
    }

    .contformsearch input {
        width: 74%;
        background: #efefef !important;
        display: inline-block;
        vertical-align: top;
    }

    .categorialiststore .linkscat {
        display: inline-block;
        vertical-align: top;
        width: 26%;
        text-align: left;
        min-width: 165px;
        margin-bottom: 2%;
        font-size: 16px;
        margin-left: 5%;
    }
}

@media only screen and (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) and (orientation:portrait) {
    .logo {
        margin-left: 2%;
        text-align: center
    }
    .acme-card-square {
        min-height: 100%!important
    }
    .repeat {
        width: 100%!important;
        margin: 1% 2% 1% 1%
    }
    .mdl-layout__drawer-button {
        display: block
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }


}

@media screen and (device-width:360px) and (device-height:640px) and (-webkit-device-pixel-ratio:3) {
    .logo {
        margin-left: -15%;
        text-align: center
    }
    .logo img {
        width: 100%;
        height: 100%
    }
    .mdl-layout--large-screen-only {
        display: none
    }
    .descripcionhorario p {
        line-height: 31px!important
    }
    .mdl-card__supporting-text {
        font-size: 30px!important
    }
    .repeat {
        width: 100%!important;
        margin: 1% 2% 1% 1%
    }
    .logtexttienda .cerrado {
        font-size: 14px!important
    }
}

.acme-malarkey {
    color: #cb3837
}

.acme-malarkey:after {
    -webkit-animation: cursor-blink .4s linear infinite;
    animation: cursor-blink .4s linear infinite;
    content: "|";
    color: #cb3837
}

@-webkit-keyframes cursor-blink {
    1%,
    40% {
        opacity: 0
    }
    100%,
    60% {
        opacity: 1
    }
}

@keyframes cursor-blink {
    1%,
    40% {
        opacity: 0
    }
    100%,
    60% {
        opacity: 1
    }
}

.acme-navbar-text {
    color: #fff
}

.repeat .mdl-card__supporting-text h3 {
    color: #fff;
    transition: 1s ease-in-out;
    margin-bottom: 35%;
    font-size: 20px !important;
    font-weight: normal;
}

.descripcionhorario {
    text-align: center;
    padding: 0, 3%;
    text-transform: lowercase
}

.descripcionhorario .entradatienda {
    width: 50%;
    margin-top: 1%;
    text-align: center;
    background-color: #f5a623;
    -webkit-box-shadow: 4px 4px 7px 0 rgba(17, 17, 17, .27);
    -moz-box-shadow: 4px 4px 7px 0 rgba(17, 17, 17, .27);
    box-shadow: 4px 4px 7px 0 rgba(17, 17, 17, .27);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    padding: 3% 5%
}

.descripcionhorario .entradatienda p {
    font-size: 60%;
    font-weight: 700;
    margin: 0!important;
    padding: 0!important
}

.repeat .titleint {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 110%;
    margin-bottom: 2%
}

.homegrind {
    text-align: center!important
}

.repeat .mdl-card__media {
    text-align: center
}

.repeat .mdl-card__supporting-text {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 80%;
    width: 100%;
    padding: 5% 0 0;
    font-size: 14.5px!important
}

.content_faq{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.content_faq .content_items{
    margin-top: 20px;
}

.content_faq .content_items h1{
    font-weight: 100;
}

.content_faq .cont_div_style{
    background: #f1f4f8;
    width: 6px;
    height: 385px;
    margin:0 auto;
}

.content_faq .cont_post_data{
    background-color: #eeeff3;
    padding: 17px;
    margin-bottom: 18px;
    height: 117px;
    cursor: pointer;
}

.content_faq .cont_post_data:before{
    content: '';
    background:url('../../img/faq/ico_down.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left: 86%;
    margin-top: 4%;
}

.content_faq .cont_data_left{
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 14px;
}

.content_faq .cont_divi_right{
    text-align: center;
    margin-top: 5%;
}

.content_faq .cont_data .title{
    text-align: center;
    margin-top: 5%;
    font-size: 45px;
    width: 100%;
}

.content_faq .cont_data_left{
    margin-left: 4%;
}

.content_faq .cont_divi{
    text-align: center;
    margin-top: 5%;
}

.content_faq .content_items div:nth-child(3) .title{
    margin-top: 73px;
}

.content_faq .content_items div:nth-child(4) .cont_divi .cont_div_style{
    height: 520px;
}

.content_faq .content_items div:nth-child(5){
    display: none;
}

.content_faq .content_items div:nth-child(6) .cont_divi .cont_div_style{
    height: 250px;
}

.content_faq .content_items div:nth-child(6){
    margin-bottom: 178px;
}

.content_faq .cont_ico{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    line-height: 5.8;
}

.content_faq .cont_text_lim{
    display: inline-block;
    vertical-align: top;
    width: 84%;
    margin-top: 2%;
    text-align: left;
    margin-left: 2%;
}

.content_faq .cont_text_lim h2{
    font-size: 26px;
    font-weight: bold;
}

.content_faq .cont_text_full{
    display: none;
    width: 100%;
    margin-top: 3%;
    border-top: 1px solid #dfe0e2;
    text-align: justify;
    padding:2%;
}


#address-city label {font-size: 18px; }
#address-city dialog::backdrop {background-color: rgba(0,0,0,0.4); }
#address-city .mdl-dialog{width:100%; }
#address-city .bluebg {background-color: #00ACC1; padding: 1%; text-align: center;}
#address-city .border {border: 1px solid white; }
#address-city .mdl-dialog__title {font-family: 'Lato', sans-serif; text-align: center;font-weight: bold;
    font-size: 2em; color: white; }
#address-city .precioColor {color: #ffce7c; }
#address-city .textWhite {font-family: 'Lato', sans-serif; color: white; text-align: center; font-size: 28px; line-height: 30px}
#address-city .textBlue {font-family: 'lato', sans-serif; text-align: center; font-size: 23px; color: #1c1d25; }
#address-city .acme-card-square.mdl-card {width: 100%; min-height: 217px; max-height: 170px; font-size: 28px; background-color: #001964}
#address-city .acme-card-square {-webkit-border-radius: 15px; -moz-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; border-radius: 15px; }
#address-city .repeat .mdl-card__supporting-text {text-align: center; position: absolute; bottom: 0; left: 0; top: 68%; width: 100%; padding: 5% 0 0; }
#address-city .repeat .mdl-card__supporting-text {background-color: #88b449; color: #fff; }
#address-city .repeat .titleint {float: left; text-align: center; width: 100%; font-size: 110%; margin-bottom: 2%; }
#address-city .repeat .mdl-card__supporting-text h3 {color: #fff; font-size: 100%!important; transition: 1s ease-in-out; margin:0; line-height: 25px;}
#address-city .mdl-card__media img {width: 93%; margin: 17% 3%; padding-bottom: 23px;}
#address-city .repeat.mdl-cell--2-col {padding-right: 1%; }
#address-city .mdl-cell--2-col, .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {width: calc(17.5% - 16px); }
#address-city .smallerWT {font-size: 17px; padding-top: 4%; margin: 0;}
#address-city .material-icons {font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px;  /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }
#address-city .close {position: absolute; top: 27px; right: 17px; color: white; }
#address-city .mdl-dialog__actions {padding: 0; }
#address-city .mdl-cell--1-col, .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {width: calc(9% - 16px); }
#address-city img.downImg {position: absolute; margin-top: 3px; }
#address-city .select_address {width: 700px; margin: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px; text-align: center;}
#address-city .select_address div{display: inline-block; vertical-align: top;}
/* Base for label styling */
#address-city [type="checkbox"]:not(:checked), #address-city [type="checkbox"]:checked {position: absolute; left: -9999px}
#address-city [type="checkbox"]:not(:checked) + label, #address-city [type="checkbox"]:checked + label {position: relative; padding-left: 25px; cursor: pointer; }
/* checkbox aspect */
#address-city [type="checkbox"]:not(:checked) + label:before, #address-city [type="checkbox"]:checked + label:before {content: ''; position: absolute; left:0; top: 2px; width: 320%; height: 130%; }
/* checked mark aspect */
#address-city [type="checkbox"]:not(:checked) + label:after, #address-city [type="checkbox"]:checked + label:after {content: url("../../img/greenCheck.png"); position: absolute; top: 3px; left: 4px; font-size: 18px; line-height: 0.8; color: #09ad7e; transition: all .2s; }
/* checked mark aspect changes */
#address-city [type="checkbox"]:not(:checked) + label:after {opacity: 0; transform: scale(0);}
#address-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 320px;}
/* disabled checkbox */
#address-city [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {box-shadow: none; border-color: #bbb; background-color: #ddd; }
#address-city [type="checkbox"]:disabled:checked + label:after {color: #999; }
#address-city [type="checkbox"]:disabled + label {color: #aaa; }
#address-city .ciudades {margin-top: 17%; }
#address-city .textCiudades {font-family: 'lato', sans-serif; color: black; margin-bottom: 40px; background-color: #E6E6E6; padding: 4% 1%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 2px 2px #CACACA;}
#address-city .mapsaddress p { margin: 0 }
#address-city .mapsaddress { width: 100% }

@media (max-width: 789px) {

    .repeat .mdl-card__supporting-text h3 {
        font-size: 21px !important;
        line-height: 1.2 !important;

    }

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .repeat .mdl-card__supporting-text .titleint h3 {
        font-size: 21px !important;
        line-height: 1.2 !important;

    }
}

/* Portrait */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {
    .repeat .mdl-card__supporting-text .titleint h3 {
        font-size: 21px !important;
        line-height: 1.2 !important;

    }
}


@media (min-width: 790px) and (max-width: 800px) {
    #address-city .select_address {width: 274px; margin: auto; }
    #address-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 217px;}
    .content_faq .cont_div_style {
        display: none;
    }

    .content_faq .cont_divi{
        display: none;
    }

    .content_faq .cont_data_left {
        padding-left: 0px;
        margin-right: 2%;
    }

    .content_faq .cont_divi_right {
        margin-left: 4%;
        margin-right: 2%;
        padding-left: 0%;
    }

    .content_faq .content_items h1{
        text-align: center;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 10px !important;
        line-height: 1.2 !important;
    }

}

@media (min-width: 801px) and (max-width: 1025px){

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 20%;
    }

    .content_faq .cont_text_lim {
        width: 66%;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 16px;
        font-weight: bold;
    }

    .content_faq .cont_post_data:before {
        margin-left: 75%;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 12px !important;
        line-height: 0.9 !important;
    }

}

@media (min-width: 1026px) and (max-width: 1280px){

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 20%;
    }

    .content_faq .cont_text_lim {
        width: 66%;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 16px;
        font-weight: bold;
    }

    .content_faq .cont_post_data:before {
        margin-left: 75%;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 15px !important;
        line-height: 0.9 !important;
    }
}

@media (min-width: 1281px) and (max-width: 1360px){

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 20%;
    }

    .content_faq .cont_text_lim {
        width: 66%;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 15px;
        font-weight: bold;
    }

    .content_faq .cont_post_data:before {
        margin-left: 77%;
    }

    .logo {
        text-align: center;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 15px !important;
        line-height: 0.9 !important;
    }

}

@media (min-width: 1361px) and (max-width: 1441px){

    .content_faq .content_items h1{
        width: 100%;
        font-size: 27px;
    }

    .content_faq .cont_ico {
        width: 20%;
    }

    .content_faq .cont_text_lim {
        width: 66%;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 15px;
        font-weight: bold;
    }

    .content_faq .cont_post_data:before {
        margin-left: 77%;
    }

    .logo {
        text-align: center;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 16px !important;
        line-height: 0.9 !important;
    }

}

@media (min-width: 1442px) and (max-width: 1602px){

    .content_faq .content_items h1{
        width: 100%;
        font-size: 30px;
    }

    .content_faq .cont_ico {
        width: 20%;
    }

    .content_faq .cont_text_lim {
        width: 66%;
    }

    .content_faq .cont_text_lim h2 {
        font-size: 21px;
        font-weight: bold;
    }

    .content_faq .cont_post_data:before {
        margin-left: 79%;
    }

    .logo {
        text-align: center;
    }

    .repeat .mdl-card__supporting-text h3 {
        font-size: 18px !important;
        line-height: 1 !important;
    }

}

@media (min-width: 1603px){

    .repeat .mdl-card__supporting-text h3 {
        font-size: 21px !important;
        line-height: 1.1 !important;
    }

}

@media (max-width: 600px) {#address-city .select_address {width: 170px; margin: auto;
}
#address-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 125px;
}
#address-city .mdl-dialog__title {font-family: 'Lato', sans-serif; text-align: center; font-weight: bold; font-size: 2em; color: white; line-height: 2em;
}
#address-city .bluebg {background-color: #00ACC1; padding: 1%; text-align: center;
}
#address-city img.downImg {position: absolute; }
}
@media (max-width: 370px) {
#address-city .select_address {width: 150px; margin: auto;}
#address-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 108px; }
#address-city .mdl-dialog__title {font-family: 'Lato', sans-serif; text-align: center; font-weight: bold; font-size: 1em; color: white; }
#address-city .bluebg {background-color: #00ACC1; padding: 1%; text-align: center;
}
#address-city img.downImg {position: absolute; width: 25px; margin-top: -2px; }
}

#address-city .button.blue {
    background: #5cb85c;
    border:none;
    color: white;
    margin-top: 25px;
    font-size: 20px;
    height: 45px;
    border-radius: 5px;
    cursor:pointer;
}

#address-city .directaddress .disabled {
    background: #50944a;
}

#address-city .select_address .errorcover{
	display: none;
}

#map {
    height: 350px;
    width: 100%;
    margin:15px 0px;
}

#address-city h4{
    text-align: left;
}

#address-city .bg-info{
    width: 100%;
    text-align: left;
}

#address-city .select_address .loading{
    display: none;
}

#address-city .loading img{
    width: 42%;
}

#address-city .select_address .loading_user{
    display: none;
}

.loading_user img{
    width: 42%;
}

.check-other{
    background-color: #292b36;
    width: 100%;
    height: 35px;
    display: inline-block;
    color: white;
    line-height: 2.3;
    margin: 1.5% 0%;
    border-radius: 5px;
}

.sincov{
    background-color: #5cb85c;
    width: 100%;
    height: 35px;
    display: inline-block;
    color: white;
    line-height: 2.3;
    margin: 1% 0%;
    border-radius: 5px;
}

.check-other:hover{
    text-decoration: none;
    color: white;
}

.sincov{
    background-color: #5cb85c;
    width: 100%;
    height: 35px;
    display: inline-block;
    color: white;
    line-height: 2.3;
    margin: 1% 0%;
}

.sincov:hover{
    text-decoration: none;
    color: white;
}

#address-city .user_addresses{
    width: 100%;
}

#address-city .addresslist{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 230px;
    border: 1px solid #ccc;
    margin: 2% 0%;
    padding: 2%;
}

.product-unit{
    color: #9e9e9e;
}

.product-list-info a:hover .product-unit{
    text-decoration: none;
}
footer .logo_text_footer{
    text-align: center;
    color: #484b55;
}

footer .logo_text_footer a{
    color: #484b55;
}

footer .logo_text_footer a:hover{
    color:#50944a;
    text-decoration: none;
}

footer .logo_text_footer a , h5{
    display: inline-block;
    vertical-align: top;
}

footer .logo_text_footer  h5{
    padding:0px 16px;
    line-height: 25px;
}

footer .logo_text_footer h5:nth-child(2){
    border-right: 1px solid #2b2b2d;

}

footer .linksfijos li{
    font-size: 65%;
    line-height: 15px;
    color: #75767c;
}


footer .linksfijos ul {
    margin-left: 0;
    padding-left: 1px;
    list-style: none;
}

footer .linksfijos ul a{
    color: #484b55;
}

footer .linksfijos a:hover {
    color: #50944a;
    text-decoration: none;
}

footer .applinks h5{
    display: block;
}

footer .applinks a{
    margin-right: 26px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
}

footer .contpagos .redes h5{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

footer .contpagos .redes img{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 120px;
}

footer .contpagos .applinks img{
    display: inline-block;
    vertical-align: top;
    width: 71%;
}


.change-city-modal .caret {
    display: inline-block;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-bottom: 0 dotted;
    border-left: 6px solid transparent;
    margin-top: 8px;
    margin-left: 8px;
    color: white;
    border-top-color: white;
    border-bottom-color: white;
    vertical-align: top;
}

.nav .change-city-modal:hover .caret {
    border-top-color: white;
    border-bottom-color: white;
}


.mdl-navigation .change-city-modal .caret {
    display: inline-block;
    vertical-align: top;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-bottom: 0 dotted;
    border-left: 5px solid transparent;
    margin-top: 29px;
    margin-left: 9px;
    color: white;
    border-top-color: white;
    border-bottom-color: white;
}

#answers-user .modal-body{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
}

.item_answers{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0px;
    padding: 7px 0px 7px 0px;
    font-size: 1em;
    margin-right: 4.2%;
    margin-left: 3.5%;
}

#answers-user .modal-dialog{
    max-width: 50%;
}

#answers-user .modal-body .title-answers{
    font-size: 26px !important;
    text-align: center !important;
    padding-bottom: 20px;
}

#answers-user .modal-body .btn_send_answers{
    background-color: #f5a622;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 9px;
    border-radius: 5px;
    text-shadow: 1px 1px #cc770c;
}

#answers-user .modal-content {
    border-radius: 15px !important;
}

#answers-user .modal-body .close{
    font-size: 50px;
    color: #a8a8a8;
    opacity: 1;
    line-height: 17px;
    margin-right: -10%;
}

#answers-user .modal-body .bg_items{
    background-color: #f6f6f6;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 20px;
}

#answers-user .modal-body .bg_items .item_answers label{
    text-align: left;
    line-height: 22px;
    padding-left: 10px;
    cursor: pointer;
}


#answers-user .modal-body .btn_send_answers:active {
    outline: none;
    border: none;
}

#answers-user .modal-body  .sucess_data{
    display: none;
}

#answers-user .cont_loading{
    display: inline-block;
    vertical-align: top;
}

#answers-user .cont_loading div{
    display: inline-block;
    vertical-align: top;
}

#answers-user .cont_loading{
    display: none;
}

#answers-user .cont_loading .loading img{
    width: 42%;
}

#answers-user .disable{
    background-color: #ff8a00;
}

#answers-user .modal-body .bg_items .item_answers:nth-child(2n+1){
    border-right: 1px solid #c8c8c8;
    margin-left: 0px;
}

#answers-user .modal-body .bg_items .item_answers:nth-child(2n+2){
    margin-right: 0px;
    width: 49%;
}

#answers-user .modal-body .disabled{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.blo_promo {
    width: 100%;
    display: inline-block;
    margin: 15px 0px 30px;
    position: relative;
}

.contblo{
    background-color: #fff0f4;
    border-radius: 10px;
    border: 3px dashed #e91a58;
    color:#545454;
    padding:20px;
}

.text-title{
    display: inline-block;
    vertical-align: top;
    width: 68%;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.contblo p {
    margin: 0px !important;
    font-size: 17px;
    font-weight: bold;
}

.contblo span{
    color:#e91a58;
}

.img_pro {
    position: absolute;
    top: -35%;
    right: -3%;
    width: 30%;
}
.img_pro img{
    width: 100%;
    height: 100%;
    max-width: 168px;
    max-height: 152px;
}

@media (max-width: 1400px){

    .contblo p {
        margin: 0px !important;
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
    }

    .img_pro {
        position: absolute;
        top: -4%;
        right: 2%;
        width: 28%;
    }

    .sd-ser-no{
        min-width: 16%;
    }

    .sd-pro-detail{
        max-width: 45%;
    }

}




