@charset "UTF-8";
@font-face {
  font-family: "SFLight";
  font-style: normal;
  font-weight: 100;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("svg"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"); }
@font-face {
  font-family: "SFThin";
  font-style: normal;
  font-weight: 200;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("svg"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"); }
@font-face {
  font-family: "SFMedium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("svg"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"); }
@font-face {
  font-family: "SFSemibold";
  font-style: normal;
  font-weight: 700;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("svg"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"); }
@font-face {
  font-family: "SFBold";
  font-style: normal;
  font-weight: 900;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("svg"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"); }
* {
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

html {
  font-family: 'Open Sans', 'Noto Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

.h1-size {
  font-size: 2.6rem;
  line-height: 110%;
  margin: 0.65rem 0; }

.h2-size {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 0.6514285714rem 0; }

.h3-size {
  font-size: 2rem;
  line-height: 110%;
  margin: 0.6666666667rem 0; }

.h4-size {
  font-size: 1.94rem;
  line-height: 110%;
  margin: 0.6928571429rem 0; }

.h5-size {
  font-size: 1.4rem;
  line-height: 110%;
  margin: 0.5rem 0; }

.h6-size {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.4107142857rem 0; }

::placeholder {
  color: #494d54;
  opacity: 1; }

:-ms-input-placeholder {
  color: #494d54; }

::-ms-input-placeholder {
  color: #494d54; }

.mq-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: -1rem;
  margin-right: -1rem; }

.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  .col.s-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col.off-s-1 {
    margin-left: 8.3333333333%; }
  .col.s-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col.off-s-2 {
    margin-left: 16.6666666667%; }
  .col.s-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.off-s-3 {
    margin-left: 25%; }
  .col.s-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col.off-s-4 {
    margin-left: 33.3333333333%; }
  .col.s-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col.off-s-5 {
    margin-left: 41.6666666667%; }
  .col.s-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.off-s-6 {
    margin-left: 50%; }
  .col.s-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col.off-s-7 {
    margin-left: 58.3333333333%; }
  .col.s-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col.off-s-8 {
    margin-left: 66.6666666667%; }
  .col.s-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.off-s-9 {
    margin-left: 75%; }
  .col.s-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col.off-s-10 {
    margin-left: 83.3333333333%; }
  .col.s-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col.off-s-11 {
    margin-left: 91.6666666667%; }
  .col.s-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.off-s-12 {
    margin-left: 100%; }

@media only screen and (min-width: 576px) {
  .col.sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col.off-sm-1 {
    margin-left: 8.3333333333%; }
  .col.sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col.off-sm-2 {
    margin-left: 16.6666666667%; }
  .col.sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.off-sm-3 {
    margin-left: 25%; }
  .col.sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col.off-sm-4 {
    margin-left: 33.3333333333%; }
  .col.sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col.off-sm-5 {
    margin-left: 41.6666666667%; }
  .col.sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.off-sm-6 {
    margin-left: 50%; }
  .col.sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col.off-sm-7 {
    margin-left: 58.3333333333%; }
  .col.sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col.off-sm-8 {
    margin-left: 66.6666666667%; }
  .col.sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.off-sm-9 {
    margin-left: 75%; }
  .col.sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col.off-sm-10 {
    margin-left: 83.3333333333%; }
  .col.sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col.off-sm-11 {
    margin-left: 91.6666666667%; }
  .col.sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.off-sm-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 720px) {
  .col.md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col.off-md-1 {
    margin-left: 8.3333333333%; }
  .col.md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col.off-md-2 {
    margin-left: 16.6666666667%; }
  .col.md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.off-md-3 {
    margin-left: 25%; }
  .col.md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col.off-md-4 {
    margin-left: 33.3333333333%; }
  .col.md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col.off-md-5 {
    margin-left: 41.6666666667%; }
  .col.md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.off-md-6 {
    margin-left: 50%; }
  .col.md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col.off-md-7 {
    margin-left: 58.3333333333%; }
  .col.md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col.off-md-8 {
    margin-left: 66.6666666667%; }
  .col.md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.off-md-9 {
    margin-left: 75%; }
  .col.md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col.off-md-10 {
    margin-left: 83.3333333333%; }
  .col.md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col.off-md-11 {
    margin-left: 91.6666666667%; }
  .col.md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.off-md-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 992px) {
  .col.lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col.off-lg-1 {
    margin-left: 8.3333333333%; }
  .col.lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col.off-lg-2 {
    margin-left: 16.6666666667%; }
  .col.lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.off-lg-3 {
    margin-left: 25%; }
  .col.lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col.off-lg-4 {
    margin-left: 33.3333333333%; }
  .col.lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col.off-lg-5 {
    margin-left: 41.6666666667%; }
  .col.lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.off-lg-6 {
    margin-left: 50%; }
  .col.lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col.off-lg-7 {
    margin-left: 58.3333333333%; }
  .col.lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col.off-lg-8 {
    margin-left: 66.6666666667%; }
  .col.lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.off-lg-9 {
    margin-left: 75%; }
  .col.lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col.off-lg-10 {
    margin-left: 83.3333333333%; }
  .col.lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col.off-lg-11 {
    margin-left: 91.6666666667%; }
  .col.lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.off-lg-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 1140px) {
  .col.xl1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col.off-xl1 {
    margin-left: 8.3333333333%; }
  .col.xl2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col.off-xl2 {
    margin-left: 16.6666666667%; }
  .col.xl3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.off-xl3 {
    margin-left: 25%; }
  .col.xl4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col.off-xl4 {
    margin-left: 33.3333333333%; }
  .col.xl5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col.off-xl5 {
    margin-left: 41.6666666667%; }
  .col.xl6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.off-xl6 {
    margin-left: 50%; }
  .col.xl7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col.off-xl7 {
    margin-left: 58.3333333333%; }
  .col.xl8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col.off-xl8 {
    margin-left: 66.6666666667%; }
  .col.xl9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.off-xl9 {
    margin-left: 75%; }
  .col.xl10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col.off-xl10 {
    margin-left: 83.3333333333%; }
  .col.xl11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col.off-xl11 {
    margin-left: 91.6666666667%; }
  .col.xl12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.off-xl12 {
    margin-left: 100%; } }
.mq-btn {
  cursor: pointer;
  border-radius: 20px;
  font-weight: lighter;
  border: none;
  padding: 6px 12px;
  transition: all .3s linear; }
  .mq-btn-a {
    text-decoration: none;
    display: block; }
  .mq-btn.primary {
    background-color: #6340c2;
    color: #ffffff; }
  .mq-btn.blue-sky {
    background-color: #01a3ff;
    color: #ffffff; }
  .mq-btn.bigger {
    font-weight: bold;
    font-size: 15px;
    border-radius: 20.5px;
    padding: 12px 30px; }
  .mq-btn.only-icon {
    background: none;
    border: none;
    margin: 0;
    padding: 0; }
  .mq-btn:focus {
    outline: 0; }
  .mq-btn[disabled] {
    background-color: #d4d4d4; }

.mq-trigger {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  color: #32363d; }
  .mq-trigger.open {
    background-color: #d0006f;
    color: #ffffff; }
  .mq-trigger p {
    margin: 0;
    display: flex;
    align-items: center; }
  .mq-trigger img {
    margin-right: 5px; }
  .mq-trigger:focus {
    outline: 0; }

.mq-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  display: none; }
  .mq-drop.show {
    display: block; }

.mq-sidenav {
  position: fixed;
  bottom: 0;
  right: -380px;
  width: 380px;
  height: calc(100vh - 64px);
  transition: all .5s linear;
  overflow-y: auto;
  box-shadow: 0 -1px 14px 1px rgba(0, 0, 0, 0.38);
  z-index: 99999;
  font-size: 14px;
  color: #32363d;
  text-align: left; }
  .mq-sidenav.show {
    transform: translateX(-380px); }

.mq-title {
  font-size: 30px;
  color: #6340c2;
  margin: 0; }

.mq-label {
  font-size: 12px; }

.mq-hr {
  border-radius: 1px;
  margin: 3px auto;
  border-top: solid 2px #6340c2;
  width: 10%; }

.mq-error-label {
  font-size: 10px;
  color: #e50707;
  margin: 0; }

.mq-input-group {
  position: relative;
  width: 100%;
  display: block; }
  .mq-input-group .mq-input {
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
    border: none;
    margin: 0 0 8px;
    font-size: 12px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    color: #494d54; }
    .mq-input-group .mq-input[disabled] {
      cursor: default;
      opacity: 0.66; }
    .mq-input-group .mq-input:focus, .mq-input-group .mq-input.focus {
      outline: none;
      border: solid 1px #6340c2; }
    .mq-input-group .mq-input:invalid, .mq-input-group .mq-input.invalid {
      border: solid 1px #e50707;
      color: #e50707; }
  .mq-input-group .mq-icon-invalid {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
  .mq-input-group .mq-input-error {
    font-size: 10px;
    line-height: 1;
    margin-top: -5px;
    color: #e50707;
    position: relative;
    top: -5px;
    padding-left: 4px; }

.mq-select {
  width: 100%;
  position: relative;
  cursor: pointer; }
  .mq-select.disabled {
    cursor: default;
    opacity: 0.66; }
  .mq-select .mq-input img {
    position: absolute;
    right: 10px;
    top: 10px; }
  .mq-select-drop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .mq-select-options {
    position: absolute;
    top: 38px;
    left: 0;
    width: 88%;
    padding: 0;
    margin: 0 0 0 6%;
    background-color: #ffffff;
    list-style: none;
    z-index: 2;
    box-shadow: 0 1px 6px 2px #aaaaaa;
    border-radius: 0 0 4px 4px;
    max-height: 180px;
    overflow: auto; }
    .mq-select-options li {
      box-shadow: inset 0 -1px 0 0 #eaeaea;
      padding: 8px 6px;
      color: #32363d;
      font-size: 12px; }

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 5; }

.mq-fading-circle {
  margin: 0 auto 60px;
  width: 100px;
  height: 100px;
  position: relative;
  top: 45%; }
  .mq-fading-circle .mq-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .mq-fading-circle .mq-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #6340c2;
    border-radius: 100%;
    animation: mq-circleFadeDelay 1.2s infinite ease-in-out both; }
  .mq-fading-circle .mq-circle2 {
    transform: rotate(30deg); }
  .mq-fading-circle .mq-circle3 {
    transform: rotate(60deg); }
  .mq-fading-circle .mq-circle4 {
    transform: rotate(90deg); }
  .mq-fading-circle .mq-circle5 {
    transform: rotate(120deg); }
  .mq-fading-circle .mq-circle6 {
    transform: rotate(150deg); }
  .mq-fading-circle .mq-circle7 {
    transform: rotate(180deg); }
  .mq-fading-circle .mq-circle8 {
    transform: rotate(210deg); }
  .mq-fading-circle .mq-circle9 {
    transform: rotate(240deg); }
  .mq-fading-circle .mq-circle10 {
    transform: rotate(270deg); }
  .mq-fading-circle .mq-circle11 {
    transform: rotate(300deg); }
  .mq-fading-circle .mq-circle12 {
    transform: rotate(330deg); }
  .mq-fading-circle .mq-circle2:before {
    animation-delay: -1.1s; }
  .mq-fading-circle .mq-circle3:before {
    animation-delay: -1s; }
  .mq-fading-circle .mq-circle4:before {
    animation-delay: -0.9s; }
  .mq-fading-circle .mq-circle5:before {
    animation-delay: -0.8s; }
  .mq-fading-circle .mq-circle6:before {
    animation-delay: -0.7s; }
  .mq-fading-circle .mq-circle7:before {
    animation-delay: -0.6s; }
  .mq-fading-circle .mq-circle8:before {
    animation-delay: -0.5s; }
  .mq-fading-circle .mq-circle9:before {
    animation-delay: -0.4s; }
  .mq-fading-circle .mq-circle10:before {
    animation-delay: -0.3s; }
  .mq-fading-circle .mq-circle11:before {
    animation-delay: -0.2s; }
  .mq-fading-circle .mq-circle12:before {
    animation-delay: -0.1s; }

@keyframes mq-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
.pill {
  font-size: 12px;
  padding: 5px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-bottom: 4px; }
  .pill span {
    font-size: 16px; }
  .pill.green {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #4fe0b5, #1dce99); }

.mq-stepper {
  background-image: linear-gradient(60deg, #3c388c, #7069bf 72%, #a098ef);
  box-shadow: 2px 2px 17px -10px rgba(0, 0, 0, 0.5);
  padding: 10px 20px; }
  .mq-stepper-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    padding: 10px; }
    .mq-stepper-title .mq-stepper-icon {
      background-color: #ffffff;
      height: 50px;
      width: 50px;
      min-width: 50px;
      border-radius: 50%;
      box-shadow: 0 0 16px 13px rgba(255, 255, 255, 0.15);
      color: #4f0229;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .mq-stepper-title .mq-stepper-icon:after {
        content: '';
        position: absolute;
        top: -30%;
        left: -30%;
        width: 160%;
        height: 160%;
        border-radius: 50%;
        border: solid 1px rgba(255, 255, 255, 0.1); }
      .mq-stepper-title .mq-stepper-icon:before {
        content: '';
        position: absolute;
        top: -16%;
        left: -16%;
        width: 134%;
        height: 134%;
        border-radius: 50%;
        border: solid 1px rgba(255, 255, 255, 0.1); }
    .mq-stepper-title .mq-stepper-content {
      padding-left: 20px; }
      .mq-stepper-title .mq-stepper-content p {
        margin: 0;
        font-weight: lighter;
        font-size: 14px; }
        .mq-stepper-title .mq-stepper-content p.mq-step {
          font-weight: bold;
          font-size: 10px; }
      .mq-stepper-title .mq-stepper-content h2 {
        color: #ffffff;
        line-height: 1;
        font-weight: bold;
        font-size: 22px; }

.mq-switch {
  position: relative;
  width: 80px;
  height: 24px;
  background: #ffffff;
  border-radius: 15px;
  border: solid 1px #6340c2;
  z-index: 1; }
  .mq-switch-label {
    position: absolute;
    z-index: 2;
    line-height: 22px;
    font-size: 14px;
    color: #6340c2;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; }
    .mq-switch-label.on {
      right: 14%; }
    .mq-switch-label.off {
      left: 19%; }
  .mq-switch-input {
    display: none; }
    .mq-switch-input:checked + .mq-switch-label {
      color: #ffffff;
      transition: 0.15s ease-out; }
      .mq-switch-input:checked + .mq-switch-label.on ~ .mq-switch-selection {
        left: 50%;
        border-radius: 0 15px 15px 0; }
  .mq-switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 22px;
    background: #6340c2;
    border-radius: 15px 0 0 15px;
    transition: left 0.15s ease-out; }

.mq-list-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style: none; }
  .mq-list-card li {
    color: #494d54;
    padding: 7px 0;
    text-align: center;
    font-size: 12px;
    border-bottom: solid 1px #f1f1f1; }
    .mq-list-card li:last-child {
      border: none; }
    .mq-list-card li p {
      margin: 0; }

.mq-check-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .mq-check-card span {
    font-size: 15px; }
  .mq-check-card .card-img {
    width: 50px;
    height: 50px;
    object-fit: cover; }

.mq-checkbox {
  position: relative;
  margin: 16px 0;
  text-align: left; }
  .mq-checkbox label {
    cursor: pointer; }
    .mq-checkbox label:after, .mq-checkbox label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0; }
    .mq-checkbox label:before {
      width: 20px;
      height: 20px;
      background: #ffffff;
      border: 1px solid #a6a6a6;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s; }
  .mq-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
    visibility: hidden; }
    .mq-checkbox input[type="checkbox"]:checked + label:before {
      background: #6340c2;
      border: none; }
    .mq-checkbox input[type="checkbox"]:checked + label:after {
      transform: rotate(-45deg);
      top: 5px;
      left: 4px;
      width: 12px;
      height: 6px;
      border: 2px solid #ffffff;
      border-top-style: none;
      border-right-style: none; }
    .mq-checkbox input[type="checkbox"]:disabled + label:before {
      border-color: rgba(0, 0, 0, 0.26); }
    .mq-checkbox input[type="checkbox"]:disabled:checked + label:before {
      background: rgba(0, 0, 0, 0.26); }

.mq-checkbox-s {
  font-size: 11px;
  color: #737373;
  text-align: center;
  margin-bottom: 8px; }
  .mq-checkbox-s a {
    font-size: 11px !important; }

.mq-accordion .panel-default {
  border-radius: 0; }
.mq-accordion .panel-heading {
  background: none;
  border: solid 1px #ea1a58;
  border-radius: 0;
  padding: 15px 20px;
  margin-bottom: 3px; }
  .mq-accordion .panel-heading .trigger-accordion.collapsed .opened {
    display: none; }
  .mq-accordion .panel-heading .trigger-accordion.collapsed .closed {
    display: inherit; }
  .mq-accordion .panel-heading .trigger-accordion .opened {
    display: inherit; }
  .mq-accordion .panel-heading .trigger-accordion .closed {
    display: none; }
.mq-accordion .panel-title a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
.mq-accordion a .collapse-icon {
  color: #ea1a58;
  position: relative;
  font-size: 18px;
  display: block; }
  .mq-accordion a .collapse-icon:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -4px;
    left: -3px;
    border-radius: 50%;
    border: solid 1px #ea1a58; }
.mq-accordion .panel-body {
  background: #fbfbfb;
  color: #494d54;
  border-top: none !important;
  text-align: justify;
  font-size: 16px;
  padding: 15px 40px; }
  .mq-accordion .panel-body ul {
    list-style: none; }
    .mq-accordion .panel-body ul li:before {
      content: '•';
      color: #ea1a58; }
  .mq-accordion .panel-body img {
    max-width: 100%; }

.beneficios-widget {
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transition: all .4s linear;
  transform: translateY(245px);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4; }
  .beneficios-widget.open {
    transform: translateY(0); }
  .beneficios-widget .beneficios-header {
    text-align: center;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; }
    .beneficios-widget .beneficios-header .beneficios-toggler {
      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.5);
      height: 45px;
      left: 50%;
      margin-left: -22.5px;
      position: absolute;
      top: -15px;
      width: 45px;
      z-index: 1; }
      .beneficios-widget .beneficios-header .beneficios-toggler:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10%;
        width: 120%;
        height: 30px;
        background: #ffffff; }
    .beneficios-widget .beneficios-header p {
      width: 100%;
      position: relative;
      margin: 0;
      color: #6340c2;
      font-weight: bold;
      z-index: 2; }
      .beneficios-widget .beneficios-header p.beneficios-title {
        color: #32363d;
        position: relative; }
        .beneficios-widget .beneficios-header p.beneficios-title:before {
          content: '';
          position: absolute;
          bottom: -5px;
          width: 5%;
          left: 47.5%;
          height: 2px;
          background-color: #6340c2;
          border-radius: 1px; }
    .beneficios-widget .beneficios-header.open {
      height: auto;
      min-height: 35px; }
      .beneficios-widget .beneficios-header.open p {
        padding-top: 5px; }
  .beneficios-widget .beneficios-content {
    text-align: right; }
    .beneficios-widget .beneficios-content.open {
      display: block; }
  .beneficios-widget .beneficios-list {
    list-style: none;
    padding: 10px;
    margin: 0; }
    .beneficios-widget .beneficios-list-item {
      display: flex;
      align-items: center;
      padding: 5px 0; }
      .beneficios-widget .beneficios-list-item img {
        width: 38px;
        height: 38px;
        padding: 5px; }
      .beneficios-widget .beneficios-list-item p {
        margin: 0;
        text-align: left;
        line-height: 16px;
        font-size: 13px;
        padding: 0 10px;
        color: #32363d; }
  .beneficios-widget .beneficios-cobertura {
    margin: 10px 20px 20px 10px; }

.mq-soata {
  position: relative;
  z-index: 1;
  max-width: 100%;
  padding-bottom: 60px;
  height: 100%;
  overflow: hidden; }
  .mq-soata-header {
    padding: 2.5rem 2.5rem 0; }
  .mq-soata-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .mq-soata-main {
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 110%; }
  .mq-soata-form {
    padding: 2.5rem; }
  .mq-soata-publicity {
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), white);
    padding: 30px 0 20px 26px;
    width: 100%;
    bottom: 5%; }
  .mq-soata-lock {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px; }
  .mq-soata-SI {
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 17px; }

.mq-container {
  height: 100%;
  overflow: auto; }

.soat-precio {
  color: #6340c2;
  position: relative;
  margin-bottom: 5px; }
  .soat-precio p {
    margin: 0;
    font-weight: lighter; }
  .soat-precio h2 {
    color: #6340c2;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1; }
    .soat-precio h2 img {
      width: 26px;
      height: 26px;
      margin-left: 5px;
      cursor: pointer; }
      .soat-precio h2 img:hover ~ .info-tooltip {
        display: block; }

.info-tooltip {
  position: absolute;
  background-image: linear-gradient(to top, #415475, #1c2535);
  color: #ffffff;
  font-size: 16px;
  width: 80%;
  padding: 10px;
  line-height: 1.4;
  font-weight: lighter;
  border-radius: 5px;
  bottom: 120%;
  display: none;
  z-index: 1; }
  .info-tooltip:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 86px;
    right: 10%;
    border-style: solid;
    border-width: 13px 13px 0 13px;
    border-color: #3d4f6e transparent transparent transparent; }

@media (max-width: 1020px) {
  .text-button-soat {
    line-height: 1.1; } }
@media (max-height: 700px) {
  .mq-soata-soatA {
    display: inherit;
    overflow: auto; }
  .mq-soata-header {
    padding: 1rem 2.5rem 0; }
  .mq-soata-publicity {
    position: relative; } }
.hero-header {
  width: 100%;
  position: relative;
  height: 250px;
  background: url("/assets/img/city-bg.svg") repeat-x 0 bottom; }

.hero-top .hero-logos {
  display: flex;
  align-items: flex-start;
  padding: 10px; }

.hero-top .hero-logos img {
  width: auto;
  height: auto;
  padding: 10px 15px 0; }

.hero-top {
  display: flex;
  justify-content: space-between;
  max-height: 128px; }

.hero-pdf {
  margin: 25px 10px; }

.btn-hero-pdf {
  border-radius: 8px;
  background-color: #1dce99;
  color: white;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  text-decoration: none; }
  .btn-hero-pdf:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9; }

.hero-title {
  position: absolute;
  top: 33%;
  color: #ea1a58;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.hero-traffic {
  width: 100%;
  min-height: 130px; }

.hero-top .hero-logos .logo-vertical {
  height: 140px; }

.home-services {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.services-header {
  width: 100%;
  height: 20%;
  background-color: #f1f1f1;
  display: flex;
  box-shadow: 2px -5px 17px -10px rgba(0, 0, 0, 0.5), 0 -1px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .services-header-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #737373;
    width: 100%;
    margin-bottom: 10px; }
.services-main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none; }
  .services-main:last-child {
    border-bottom: none; }
  .services-main li {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #cecece;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

.services-item {
  display: flex; }

.tx-center {
  text-align: center; }
.tx-left {
  text-align: left; }
.tx-right {
  text-align: right; }
.tx-uppercase {
  text-transform: uppercase; }
.tx-underline {
  text-decoration: underline; }
.tx-mini {
  font-size: 12px !important; }

.f-light {
  font-weight: lighter; }
.f-bold {
  font-weight: bold; }

.p-relative {
  position: relative; }
.p-absolute {
  position: absolute; }

.bg-green-valid {
  background: #1dce99 !important; }

.tx-green-valid {
  color: #1dce99 !important; }

.bg-blue-sky {
  background: #01a3ff !important; }

.tx-blue-sky {
  color: #01a3ff !important; }

.bg-purple {
  background: #6340c2 !important; }

.tx-purple {
  color: #6340c2 !important; }

.bg-pink {
  background: #ea1a58 !important; }

.tx-pink {
  color: #ea1a58 !important; }

.bg-purple-2 {
  background: #4f0229 !important; }

.tx-purple-2 {
  color: #4f0229 !important; }

.bg-rojo-invalid {
  background: #e50707 !important; }

.tx-rojo-invalid {
  color: #e50707 !important; }

.bg-white-2 {
  background: #f1f1f1 !important; }

.tx-white-2 {
  color: #f1f1f1 !important; }

.bg-white-3 {
  background: #fbfbfb !important; }

.tx-white-3 {
  color: #fbfbfb !important; }

.bg-white {
  background: #ffffff !important; }

.tx-white {
  color: #ffffff !important; }

.bg-disabled {
  background: #d4d4d4 !important; }

.tx-disabled {
  color: #d4d4d4 !important; }

.bg-gray-shadow-2 {
  background: #eaeaea !important; }

.tx-gray-shadow-2 {
  color: #eaeaea !important; }

.bg-gray-bg {
  background: linear-gradient(to top, #ebebeb, #ffffff) !important; }

.tx-gray-bg {
  color: linear-gradient(to top, #ebebeb, #ffffff) !important; }

.bg-gray-border {
  background: #cecece !important; }

.tx-gray-border {
  color: #cecece !important; }

.bg-gray-shadow {
  background: #aaaaaa !important; }

.tx-gray-shadow {
  color: #aaaaaa !important; }

.bg-gray-title {
  background: #737373 !important; }

.tx-gray-title {
  color: #737373 !important; }

.bg-gray-dark {
  background: #6e6e6e !important; }

.tx-gray-dark {
  color: #6e6e6e !important; }

.bg-black-soft {
  background: #494d54 !important; }

.tx-black-soft {
  color: #494d54 !important; }

.bg-black {
  background: #32363d !important; }

.tx-black {
  color: #32363d !important; }

.bg-black-1 {
  background: #030303 !important; }

.tx-black-1 {
  color: #030303 !important; }

.m-0 {
  margin: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.my-0 {
  margin: 0 0 !important; }

.mx-0 {
  margin: 0 0 !important; }

.m-05 {
  margin: 0.5rem !important; }

.mt-05 {
  margin-top: 0.5rem !important; }

.mr-05 {
  margin-right: 0.5rem !important; }

.ml-05 {
  margin-left: 0.5rem !important; }

.mb-05 {
  margin-bottom: 0.5rem !important; }

.my-05 {
  margin: 0.5rem 0 !important; }

.mx-05 {
  margin: 0 0.5rem !important; }

.m-1 {
  margin: 1rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.my-1 {
  margin: 1rem 0 !important; }

.mx-1 {
  margin: 0 1rem !important; }

.m-15 {
  margin: 1.5rem !important; }

.mt-15 {
  margin-top: 1.5rem !important; }

.mr-15 {
  margin-right: 1.5rem !important; }

.ml-15 {
  margin-left: 1.5rem !important; }

.mb-15 {
  margin-bottom: 1.5rem !important; }

.my-15 {
  margin: 1.5rem 0 !important; }

.mx-15 {
  margin: 0 1.5rem !important; }

.m-2 {
  margin: 2rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.my-2 {
  margin: 2rem 0 !important; }

.mx-2 {
  margin: 0 2rem !important; }

.m-25 {
  margin: 2.5rem !important; }

.mt-25 {
  margin-top: 2.5rem !important; }

.mr-25 {
  margin-right: 2.5rem !important; }

.ml-25 {
  margin-left: 2.5rem !important; }

.mb-25 {
  margin-bottom: 2.5rem !important; }

.my-25 {
  margin: 2.5rem 0 !important; }

.mx-25 {
  margin: 0 2.5rem !important; }

.m-3 {
  margin: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.my-3 {
  margin: 3rem 0 !important; }

.mx-3 {
  margin: 0 3rem !important; }

.m-35 {
  margin: 3.5rem !important; }

.mt-35 {
  margin-top: 3.5rem !important; }

.mr-35 {
  margin-right: 3.5rem !important; }

.ml-35 {
  margin-left: 3.5rem !important; }

.mb-35 {
  margin-bottom: 3.5rem !important; }

.my-35 {
  margin: 3.5rem 0 !important; }

.mx-35 {
  margin: 0 3.5rem !important; }

.m-4 {
  margin: 4rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.my-4 {
  margin: 4rem 0 !important; }

.mx-4 {
  margin: 0 4rem !important; }

.m-45 {
  margin: 4.5rem !important; }

.mt-45 {
  margin-top: 4.5rem !important; }

.mr-45 {
  margin-right: 4.5rem !important; }

.ml-45 {
  margin-left: 4.5rem !important; }

.mb-45 {
  margin-bottom: 4.5rem !important; }

.my-45 {
  margin: 4.5rem 0 !important; }

.mx-45 {
  margin: 0 4.5rem !important; }

.m-5 {
  margin: 5rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mr-5 {
  margin-right: 5rem !important; }

.ml-5 {
  margin-left: 5rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.my-5 {
  margin: 5rem 0 !important; }

.mx-5 {
  margin: 0 5rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.py-0 {
  padding: 0 0 !important; }

.px-0 {
  padding: 0 0 !important; }

.p-05 {
  padding: 0.5rem !important; }

.pt-05 {
  padding-top: 0.5rem !important; }

.pr-05 {
  padding-right: 0.5rem !important; }

.pl-05 {
  padding-left: 0.5rem !important; }

.pb-05 {
  padding-bottom: 0.5rem !important; }

.py-05 {
  padding: 0.5rem 0 !important; }

.px-05 {
  padding: 0 0.5rem !important; }

.p-1 {
  padding: 1rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.py-1 {
  padding: 1rem 0 !important; }

.px-1 {
  padding: 0 1rem !important; }

.p-15 {
  padding: 1.5rem !important; }

.pt-15 {
  padding-top: 1.5rem !important; }

.pr-15 {
  padding-right: 1.5rem !important; }

.pl-15 {
  padding-left: 1.5rem !important; }

.pb-15 {
  padding-bottom: 1.5rem !important; }

.py-15 {
  padding: 1.5rem 0 !important; }

.px-15 {
  padding: 0 1.5rem !important; }

.p-2 {
  padding: 2rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.py-2 {
  padding: 2rem 0 !important; }

.px-2 {
  padding: 0 2rem !important; }

.p-25 {
  padding: 2.5rem !important; }

.pt-25 {
  padding-top: 2.5rem !important; }

.pr-25 {
  padding-right: 2.5rem !important; }

.pl-25 {
  padding-left: 2.5rem !important; }

.pb-25 {
  padding-bottom: 2.5rem !important; }

.py-25 {
  padding: 2.5rem 0 !important; }

.px-25 {
  padding: 0 2.5rem !important; }

.p-3 {
  padding: 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.py-3 {
  padding: 3rem 0 !important; }

.px-3 {
  padding: 0 3rem !important; }

.p-35 {
  padding: 3.5rem !important; }

.pt-35 {
  padding-top: 3.5rem !important; }

.pr-35 {
  padding-right: 3.5rem !important; }

.pl-35 {
  padding-left: 3.5rem !important; }

.pb-35 {
  padding-bottom: 3.5rem !important; }

.py-35 {
  padding: 3.5rem 0 !important; }

.px-35 {
  padding: 0 3.5rem !important; }

.p-4 {
  padding: 4rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.py-4 {
  padding: 4rem 0 !important; }

.px-4 {
  padding: 0 4rem !important; }

.p-45 {
  padding: 4.5rem !important; }

.pt-45 {
  padding-top: 4.5rem !important; }

.pr-45 {
  padding-right: 4.5rem !important; }

.pl-45 {
  padding-left: 4.5rem !important; }

.pb-45 {
  padding-bottom: 4.5rem !important; }

.py-45 {
  padding: 4.5rem 0 !important; }

.px-45 {
  padding: 0 4.5rem !important; }

.p-5 {
  padding: 5rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pr-5 {
  padding-right: 5rem !important; }

.pl-5 {
  padding-left: 5rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.py-5 {
  padding: 5rem 0 !important; }

.px-5 {
  padding: 0 5rem !important; }

.w-100 {
  width: 100% !important; }

.w-75 {
  width: 75% !important; }

.w-50 {
  width: 50% !important; }

.w-25 {
  width: 25% !important; }

.h-100 {
  height: 100% !important; }

.h-75 {
  height: 75% !important; }

.h-50 {
  height: 50% !important; }

.h-25 {
  height: 25% !important; }

.mw-100 {
  max-width: 100% !important; }

.mw-75 {
  max-width: 75% !important; }

.mw-50 {
  max-width: 50% !important; }

.mw-25 {
  max-width: 25% !important; }

.mh-100 {
  max-height: 100% !important; }

.mh-75 {
  max-height: 75% !important; }

.mh-50 {
  max-height: 50% !important; }

.mh-25 {
  max-height: 25% !important; }

/*# sourceMappingURL=mq-styles.css.map */
