.referral {
  color: color(black-soft);
  &-title {
    margin-top: 3rem;
    font-size: 24px;
    font-weight: bold;
  }
  &-text {
    margin-top: 1.8rem;
    font-size: 20px;
    position: relative;
    img {
      cursor: pointer;
      width: 22px;
      height: 22px;
      &:hover ~ .referral-tooltip {
        display: block;
      }
    }
    .referral-tooltip {
      display: none;
      position: absolute;
      font-size: 11px;
      color: color(white);
      background-color: transparentize(#484646, .1);
      right: -14px;
      bottom: 40px;
      width: 260px;
      padding: 5px 1px;
      border-radius: 5px;
      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: 92px;
        right: 10%;
        border-style: solid;
        border-width: 13px 13px 0 13px;
        border-color: transparentize(#484646, .1) transparent transparent transparent;
      }
    }
  }
  .share-code {
    margin-top: 1.5rem;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-code {
      padding: 6px 20% 6px 0;
      border-radius: 20px;
      border: solid 1px color(gray-dark);
      width: 72%;
      position: relative;
      margin: 0;
    }
    &-btn {
      color: color(white);
      background-color: color(pink);
      border: none;
      padding: 7px 25px;
      border-radius: 20px;
      position: absolute;
      right: -10%;
      top: -1px;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    top: auto;
    right: auto;
  }
  &-img {
    width: 30%;
    position: relative;
    #gift-animation {
      position: absolute;
      top: -90px;
      width: 200px;
      svg {
        width: 100% !important;
        height: 100%;
      }
    }
  }
  &-info {
    text-align: center;
    width: 70%;
    h2 {
      font-size: 25px;
      margin: 0;
      padding: 0;
      &.pinkLabel {
        color: color(pink);
        font-weight: bold;
      }
    }
  }
  &-pill {
    padding: 0 6px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: solid 1px color(gray-soft);
    display: inline-block;
    line-height: 1;
    span {
      padding: 0;
    }
  }
  &-table {
    &.table {
      margin-top: 10px;
      td {
        border: none;
        padding: 10px 0;
        font-size: 15px;
        line-height: 1;
        &:nth-child(1) {
          font-weight: bold;
        }
        &:last-child {
          text-align: center;
          span {
            font-size: 12px;
          }
        }
        &.muted {
          font-weight: normal;
          color: color(gray-soft-2)
        }
        &.ref-wait {
          color: color(pink-special);
        }
        &.ref-valid {
          color: color(green-sea);
        }
        &.ref-invalid {
          color: color(rojo-invalid);
        }
      }
    }
  }
  .empty-history {
    p {
      color: color(gray-soft-2);
      margin-top: 5px;
    }
  }
}

@media (min-width: 1144px) {
  .referral {
    &-header {
      position: absolute;
      top: -90px;
      right: -40px;
    }
  }
  .empty-history {
    margin-top: 6rem;
  }
}