$font-path: '/assets/fonts/';
$imp: !important;

$sizes: (
        0: 0,
        0_5: 0.5rem,
        1: 1rem,
        1_5: 1.5rem,
        2: 2rem,
        2_5: 2.5rem,
        3: 3rem,
        3_5: 3.5rem,
        4: 4rem,
        4_5: 4.5rem,
        5: 5rem
);

$colors: (
        white: #ffffff,
        gray-bg: #f1f1f1,
        gray-hr: #cecece,
        gray-soft: #d4d4d4,
        gray-soft-2: #9c9c9c,
        gray-dark: #737373,
        gray-text: #707070,
        black-soft-2: #494d54,
        black-soft: #32363d,
        black-dark: #18191f,
        purple: #6340c2,
        indigo: #3b5998,
        blue-sky:#01a3ff,
        green-teal: #3EDD8F,
        green: #50944a,
        green-sea: #08a878,
        green-ligth: #00ff00,
        yellow-star: #F39C12,
        rojo-invalid: #e50707,
        pink: #d0006f,
        pink-special: #e91a58,
        rojo-soft: #b94a48,
        purple-wine: #4f0229,
);