<section class="user-rate user-rate--error-page">
    <div class="user-rate__information">
        <h1>¡Gracias!</h1>
        <h2>Ya habíamos recibido <br/>tu respuesta</h2>
        <a href="/" class="button-user-rate-flat button-user-rate-flat--blue">Ir a la tienda</a>
    </div>
    <div class="user-rate__animation" id="lottie-thankyou"></div>
</section>
