<div layout="row" layout-xs="column">
    <div flex="60" flex-xs="100" style="margin-top: 2%; margin-bottom: 2%">
        <h1 class="text-center" style="text-align: center">{{ title }}</h1>
    </div>
</div>
<div layout="row" layout-xs="column" flex="100">
    <form name="badRateForm" layout="column" flex="60" flex-xs="100">
        <div class="card-style" layout="row">
            <div flex="100" class="btn-add-products" layout="row" ng-click="openModal($event)" layout-align="center center">
                <div flex="70">
                    Con los productos
                    <br>
                    <span ng-if="format.itemsWithProblems()"
                          style="font-size: 12px;color: #3A86FF;line-height: 14px; margin-bottom: -20px;">
                        Inconvenientes con {{ format.itemsWithProblems() }} producto{{ format.itemsWithProblems() > 1 ? 's' : '' }}
                    </span>
                </div>
                <div flex="30"
                     id="link"
                     class="move-on-mobile"
                     style="text-align: right; font-weight: bold; font-size: 14px; outline: none">
                    Ver productos
                </div>
            </div>
        </div>

        <div class="group-list card-style" layout="column">
            <div ng-repeat="reason in others" class="pure-checkbox easies-item">
                <input id="reason.{{ $index }}" type="checkbox"
                       name="other"
                       ng-false-value="undefined"
                       ng-true-value="{{'\''+ reason + '\''}}"
                       ng-change="validResponse(badRateForm)"
                       ng-model="order.other[$index]">
                <label for="reason.{{ $index }}">{{ reason }}</label>
            </div>
            <p ng-if="!badRateForm.other.$valid && !badRateForm.comment.$pristine" class="pure-checkbox easies-item"
               style="color: red;">
                Debes ingresar alguno de los tipos de inconvenientes que presentaste con los productos u otros
            </p>
        </div>

        <div class="card-style" layout="column" ng-if="order.numOtherValidItems()"
             style="margin-bottom: 17px;margin-top: 17px;">
            <textarea rows="5"
                      name="comment"
                      ng-model="order.comment"
                      style="width: 100%"
                      flex
                      placeholder="Agregar un comentario..."
                      class="rate-comment"></textarea>
            <p ng-if="!badRateForm.comment.$valid && !badRateForm.comment.$pristine" style="color: red">
                Si presentó algún otro tipo de inconveniente debe agregar un comentario.
            </p>
        </div>

        <md-button ng-disabled="(!badRateForm.$pristine && !validResponse(badRateForm)) || sendingForm"
                   ng-click="save()"
                   name="submitButton"
                   class="md-primary md-raised common-blue save-button">
            {{ sendingForm ? 'Enviando...' : 'Enviar' }}
        </md-button>
    </form>

    <div flex="35" flex-offset="5" layout-padding hide-xs style="margin-top: -50px">
        <img src="/assets/img/order_rate/Ilustracion.png" width="100%" alt="" class="img-responsive">
    </div>
</div>