<md-dialog aria-label="List dialog" layout="column" flex="60" style="max-height: 80%;max-width: 670px;">
    <md-toolbar class="toolbar-score-rate" md-scroll-shrink="true">
        <div class="md-toolbar-tools" flex="100" layout-fill layout-align="center center">
            <h2 style="text-align: center; line-height: 1.5; margin-top: 5px; margin-bottom: 5px" flex="100"
                layout-xs-padding>
                {{ productsTitle }}
            </h2>
            <md-button class="md-icon-button" aria-label="Cerrar" style="color: black" ng-click="hide()">x</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-list-item ng-repeat="product in products" layout="row">
                <span ng-if="!product.wasDelivered()" class="not-available">No disponible</span>
                <div layout="row" flex="60"
                     ng-class="product.wasDelivered() ? '' : 'not-available'">

                    <div class="md-list-item-text" flex style="max-height: 74px; max-width: 74px; text-align: center">
                        <img ng-src="{{ product.model.product_image_url }}" alt=""
                             style="max-width: 100%; max-height: 100%">
                    </div>
                    <div class="md-list-item-text" flex="60" layout="column" layout-margin>
                        <p style="line-height: 16px;margin: 0;color: #29292F;">
                            {{ product.model.product_name }}
                        </p>
                        <b style="margin-left: 0">
                            {{ product.model.price | currency:undefined:0 }}
                        </b>
                    </div>
                </div>
                <div class="md-list-item-text" flex="40">
                    <md-select ng-model="product.problem"
                               class="merqueo-select"
                               ng-change="validResponse(badRateForm)"
                               ng-class="product.problem ? 'active' : ''"
                               placeholder="Selecciona un inconveniente">
                        <md-option ng-value="null">Selecciona un inconveniente</md-option>
                        <md-option ng-value="problem"
                                   ng-repeat="problem in (product.wasDelivered() ? avProblems : notavProblems)">
                            {{ problem }}
                        </md-option>
                    </md-select>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions style="padding: 0" ng-if="anyDirty()">
        <div ng-click="hide()"
             class="common-blue save-button"
             style="text-align: center; color: white; padding: 15px 0; cursor: pointer; font-size: 18px; width: 100%;">
            Guardar
        </div>
    </md-dialog-actions>
</md-dialog>