<section class="user-rate user-rate--thank-you">
    <div class="user-rate__information">
        <h1>¡Gracias por pedir <br/>con nosotros!</h1>
        <a href="/" class="button-user-rate-flat button-user-rate-flat--blue">Ir a la tienda</a>
    </div>
    <div class="user-rate__animation" id="lottie-thankyou"></div>
</section>