<section class="user-rate user-rate--error-page">
    <div class="user-rate__information">
        <h1>Lamentamos tu <br/>inconveniente</h1>
        <h2>Te daremos respuesta <br/>lo antes posible</h2>
        <a href="/" class="button-user-rate-flat button-user-rate-flat--blue">Ir a la tienda</a>
    </div>
    <div class="user-rate__animation" id="lottie-thankyou"></div>
</section>
