<section class="user-rate user-rate--home">
    <div class="user-rate__information">
        <h1>¿Salió todo bien <br/>con tu pedido?</h1>
        <p>Entregado el: <br/>{{ order.orderTime }}</p>
        <div class="user-rate__information__buttons">
            <button class="button-user-rate button-user-rate--negative" ng-click="rateAsBad()">No</button>
            <button class="button-user-rate button-user-rate--positive" ng-click="rateAsOk()">Sí</button>
        </div>
    </div>
    <div class="user-rate__animation" id="lottie-welcome"></div>
</section>

<loading ng-show="isLoading"/>