.pro-bg-no {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 80%;
  background-color: #ffffff;
}
.pro-bg-no form {
  padding: 20px;
}

.green-title h3 {
  color: #50944a;
  padding: 15px 0 0 0;
  text-align: center;
}

.alert {
  padding: 10px;
}

.checkout-bg {
  padding: 25px;
}

.sub-menu .left a {
  border-right: 0;
}

.dropdown-menu a.menu-btn {
  border: 1px solid;
  padding: 6px 12px !important;
}

.logo-store {
  /*width: 200px !important;*/
}

.label-complement {
  float: left;
  margin: 7px;
}

label {
  /*padding-right: 0 !important;*/
}

.element-has-error {
  border: 1px solid #b94a48;
}

.discount-message {
  font-weight: bold;
  font-size: 13px;
  padding: 12px 15px 15px 0;
}
.small-font {
  font-size: 11px;
}

.store-message {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  padding: 5px;
}

strike {
  padding-right: 8px;
  /*font-size: 14px;*/
}

.product-special-price {
  color: #e91a58 !important;
}

.zoomContainer {
  z-index: 999;
}

.no-padding {
  padding: 0;
}

.caret {
  margin-left: 7px;
}

.choose-store {
  width: 100%;
}

.banner-top {
  padding: 7px;
  background-color: #18191f;
  color: #ffffff;
  text-align: center;
}

.coverage {
  color: #cccccc;
  font-size: 15px;
  padding-left: 10px;
  text-decoration: underline;
  vertical-align: middle;
}

.star-rating {
  display: inline-block;
  margin: 15px;
}

.star-rating a {
  color: #F39C12;
  font-size: 22px;
  padding: 13px;
  color: #95A5A6;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s;
  outline: 0;
}

.star-rating a:hover {
  color: #F39C12;
}

.star-rating .active {
  color: #F39C12;
}

#calificate {
  font-size: 25px;
}

.mensajetext {
  text-align: right;
}

.mensajetext textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none;
  padding: 15px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #cecece;
  background-color: #f7f7f7;
}

.mensajetext button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none;
  padding: 15px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #f5a623;
  color: white;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  border: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

.checkout-coupon div {
  padding: 5px;
  background-color: #f0f0f0;
  margin: 0 10px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  display: inline-block;
}

.seo-text {
  padding: 15px;
  background-color: #FFFFFF;
}

.seo-text h3 {
  margin: 0 0 16px;
}

.product-column {
  width: 19.9%;
}

.redescont h5 {
  font-size: 14px;
  font-weight: normal;
}

.logo-footer {
  width: 124px;
}

.breadcrumb {
  width: 100%;
}

.newsletter {
  margin-left: 0;
}

a {
  outline: 0 !important;
}

.category-msg {
  width: 100%;
  margin-left: 0;
}

.category-msg p {
  margin: 0;
  padding: 10px;
}

.first_order_promo {
  padding: 0 !important;
  position: absolute;
  left: 2%;
  top: 2%;
  width: 45px;
}

.btn-add-custom-product {
  background: none;
  border: 1px solid #39B3D7;
  color: #39B3D7;
  -webkit-box-shadow: 0px 0px 5px 2px #ccc;
  box-shadow: 0px 0px 5px 2px #ccc;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.btn-add-custom-product:hover {
  background: #39B3D7;
  color: #FFF;
  -webkit-box-shadow: 0px 1px 13px 4px #ccc;
  box-shadow: 0px 1px 13px 4px #ccc;
}

.checkout-success .table > tbody > tr > td {
  padding: 4px;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}

#login .modal-dialog {
  width: 650px;
}

#add-product .modal-dialog {
  width: 650px;
}

.order-details:visited, .order-details:focus, .order-details:active {
  text-decoration: none;
}

.home_init .col-md-12 .contentmenu_home a:visited,
.home_init .col-md-12 .contentmenu_home a:focus,
.home_init .col-md-12 .contentmenu_home a:active {
  text-decoration: none;
}

.store-home {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}

.price_for_product .delivery-discount {
  font-size: 11px;
  color: #3EDD8F;
  padding: 10px 0;
}

.price_for_product .delivery-discount img {
  width: 23px;
  height: 23px;
}

.product-view .delivery-discount {
  color: #3EDD8F;
  padding: 10px 0;
}

#ref .font-normal {
  color: #575760;
  font-weight: bold;
  padding: 0;
}

#ref .itemimg .imgcenter {
  margin: 0 auto;
  width: 500px;
}

#ref .font-bold {
  color: #05344a;
  font-size: 20px;
  padding: 0;
}

#ref h3 {
  font-size: 14px;
  color: #8e8f95;
  padding: 10px 0;
}

#ref .merqueo-color {
  color: #d70f65;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

#ref .contredes_shared {
  font-size: 12px;
}

#ref .contredes_shared label {
  color: #282d3b;
  margin-bottom: 15px;
}

#ref .contredes_shared .inputlink {
  margin: 10px;
  display: none;
  max-width: 71%;
}

#ref .contredes_shared .contred {
  margin-left: 27px;
}

#ref .btn-shared-merqueo {
  background-color: transparent !important;
  display: inline-block;
  padding: 7px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  opacity: 0.8;
}

#ref .btn-shared-merqueo img {
  margin-bottom: 5px;
}

#ref .contentdescrpitem {
  padding: 10px;
  font-size: 16px;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.26);
  -moz-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.26);
  box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.26);
}

#ref .contentdescrpitem p {
  margin: 0;
}

#modal-city-change .modal-dialog {
  /*width: 500px;*/
}

#modal-channel-contact .modal-header {
  border: 0;
}

.referral {
  color: #32363d;
  padding-top: 10px;
}
.referral-title {
  margin-top: 3rem;
  font-size: 24px;
  font-weight: bold;
}
.referral-text {
  margin-top: 1.8rem;
  font-size: 20px;
  position: relative;
}
.referral-text img {
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.referral-text img:hover ~ .referral-tooltip {
  display: block;
}
.referral-text .referral-tooltip {
  display: none;
  position: absolute;
  font-size: 11px;
  color: #ffffff;
  background-color: rgba(72, 70, 70, 0.9);
  right: -14px;
  bottom: 40px;
  width: 260px;
  padding: 5px 1px;
  border-radius: 5px;
}
.referral-text .referral-tooltip:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 92px;
  right: 10%;
  border-style: solid;
  border-width: 13px 13px 0 13px;
  border-color: rgba(72, 70, 70, 0.9) transparent transparent transparent;
}
.referral .share-code {
  margin-top: 1.5rem;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.referral .share-code-code {
  padding: 6px 20% 6px 0;
  border-radius: 20px;
  border: solid 1px #737373;
  width: 72%;
  position: relative;
  margin: 0;
}
.referral .share-code-btn {
  color: #ffffff;
  background-color: #d0006f;
  border: none;
  padding: 7px 25px;
  border-radius: 20px;
  position: absolute;
  right: -10%;
  top: -1px;
}
.referral-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  top: auto;
  right: auto;
}
.referral-img {
  width: 30%;
  position: relative;
}
.referral-img #gift-animation {
  position: absolute;
  top: -90px;
  width: 200px;
}
.referral-img #gift-animation svg {
  width: 100% !important;
  height: 100%;
}
.referral-info {
  text-align: center;
  width: 70%;
}
.referral-info h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.referral-info h2.pinkLabel {
  color: #d0006f;
  font-weight: bold;
}
.referral-pill {
  padding: 0 6px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: solid 1px #d4d4d4;
  display: inline-block;
  line-height: 1;
}
.referral-pill span {
  padding: 0;
}
.referral-table.table {
  margin-top: 10px;
}
.referral-table.table tr {
  border-bottom: 1px solid grey;
}
.referral-table.table td {
  border: none;
  padding: 10px 0;
  font-size: 15px;
  line-height: 1;
}
.referral-table.table td:last-child {
  text-align: center;
}
.referral-table.table td:last-child span {
  font-size: 12px;
}
.referral-table.table td p.muted {
  font-weight: normal;
  color: #9c9c9c;
}
.referral-table.table td p.ref-wait {
  color: #e91a58;
}
.referral-table.table td p.ref-valid {
  color: #08a878;
}
.referral-table.table td p.ref-invalid {
  color: #e50707;
}
.referral .empty-history p {
  color: #9c9c9c;
  margin-top: 5px;
}

.referral .referral-label {
  margin-top: 6rem;
}

.share-code-btn:focus {
  outline: none;
}
