#change-city label {font-size: 18px; }
#change-city dialog::backdrop {background-color: rgba(0,0,0,0.4); }
#change-city .mdl-dialog{width:100%; }
#change-city .bluebg {border-bottom: 1px solid #d7d7d7;
    padding: 1%;
    text-align: center;
    color: #2d313c;
    margin: 0% 10%;}
#change-city .border {border: 1px solid white; }
#change-city .mdl-dialog__title {font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    color: #2d313c;}
#change-city .precioColor {color: #ffce7c; }
#change-city .textWhite {font-family: 'Lato', sans-serif; color: white; text-align: center; font-size: 28px; line-height: 30px}
#change-city .textBlue {font-family: 'lato', sans-serif; text-align: center; font-size: 23px; color: #1c1d25; }
#change-city .acme-card-square.mdl-card {width: 100%; min-height: 217px; max-height: 170px; font-size: 28px; background-color: #001964}
#change-city .acme-card-square {-webkit-border-radius: 15px; -moz-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; border-radius: 15px; }
#change-city .repeat .mdl-card__supporting-text {text-align: center; position: absolute; bottom: 0; left: 0; top: 68%; width: 100%; padding: 5% 0 0; }
#change-city .repeat .mdl-card__supporting-text {background-color: #88b449; color: #fff; }
#change-city .repeat .titleint {float: left; text-align: center; width: 100%; font-size: 110%; margin-bottom: 2%; }
#change-city .repeat .mdl-card__supporting-text h3 {color: #fff; font-size: 100%!important; transition: 1s ease-in-out; margin:0; line-height: 25px;}
#change-city .mdl-card__media img {width: 93%; margin: 17% 3%; padding-bottom: 23px;}
#change-city .repeat.mdl-cell--2-col {padding-right: 1%; }
#change-city .mdl-cell--2-col, .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {width: calc(17.5% - 16px); }
#change-city .smallerWT {font-size: 17px; padding-top: 4%; margin: 0;}
#change-city .material-icons {font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px;  /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }
#change-city .close {position: absolute; top: 27px; right: 17px; color: #272e40; }
#change-city .mdl-dialog__actions {padding: 0; }
#change-city .mdl-cell--1-col, .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {width: calc(9% - 16px); }
#change-city img.downImg {position: absolute; margin-top: 3px; }
#change-city .ciudadesSelect {width: 80%; margin: auto; }
/* Base for label styling */
#change-city #checked-link{
	background-color: #f5a623 !important;
	color: white !important;
	border-color: #f4a727;
	font-weight: normal;
}
#change-city [type="checkbox"]:not(:checked), #change-city [type="checkbox"]:checked {position: absolute; left: -9999px}
#change-city [type="checkbox"]:not(:checked) + label, #change-city [type="checkbox"]:checked + label {position: relative; padding-left: 25px; cursor: pointer; }
/* checkbox aspect */
#change-city [type="checkbox"]:not(:checked) + label:before, #change-city [type="checkbox"]:checked + label:before {content: ''; position: absolute; left:0; top: 2px; width: 520%; height: 130%; }
/* checked mark aspect */
#change-city [type="checkbox"]:not(:checked) + label:after, #change-city [type="checkbox"]:checked + label:after {content: url("../img/newdesign/check-white.png"); position: absolute; top: -2px; left: 4px; font-size: 18px; line-height: 0.8; color: #09ad7e; transition: all .2s; }
/* checked mark aspect changes */
#change-city [type="checkbox"]:not(:checked) + label:after {opacity: 0; transform: scale(0);}
#change-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 525px;}
/* disabled checkbox */
#change-city [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {box-shadow: none; border-color: #bbb; background-color: #ddd; }
#change-city [type="checkbox"]:disabled:checked + label:after {color: #999; }
#change-city [type="checkbox"]:disabled + label {color: #aaa; } 
#change-city .ciudades {margin-top: 10%; }
#change-city .textCiudades { display:block; font-family: 'lato', sans-serif; color: #949494; margin-bottom: 40px; background-color: transparent; padding: 2% 1% 1% 1%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #d9d9d9; width: 100%;}
@media (max-width: 800px) {
#change-city .ciudadesSelect {width: 274px; margin: auto; }
#change-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 217px;}
}
@media (max-width: 600px) {#change-city .ciudadesSelect {width: 170px; margin: auto;
}
#change-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 125px;
}
#change-city .mdl-dialog__title {font-family: 'Lato', sans-serif; text-align: center; font-weight: bold; font-size: 2em; color: white; line-height: 2em;
}
#change-city .bluebg {background-color: #00ACC1; padding: 1%; text-align: center;
}
#change-city img.downImg {position: absolute; }
}
@media (max-width: 370px) {
#change-city .ciudadesSelect {width: 150px; margin: auto;}
#change-city [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1); margin-left: 108px; }
#change-city .mdl-dialog__title {font-family: 'Lato', sans-serif; text-align: center; font-weight: bold; font-size: 1em; color: white; }
#change-city .bluebg {background-color: #00ACC1; padding: 1%; text-align: center;
}
#change-city img.downImg {position: absolute; width: 25px; margin-top: -2px; }
}