p {
    font-family: 'Open Sans', sans-serif;
}
.content-image {
    background-color: black;
    height: 80px;
    width: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2e51e+0,05974a+100 */
    background: #f2e51e; /* Old browsers */
    background: -webkit-linear-gradient(bottom left, #f2e51e 0%, #05974a 100%);
    background: -o-linear-gradient(bottom left, #f2e51e 0%, #05974a 100%);
    background: linear-gradient(to top right, #f2e51e 0%, #05974a 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e51e', endColorstr='#05974a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
}

.imgProducto {
    width: 20%;
    float: left;
}
.fotoProducto {
    width: 100%;
}
.Texto {
    padding: 15px 15px;
}
.productName {
    font-size: 14px;
    color: #fff;
    text-align: right;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}
.productName span{
    font-size: 10px;
    color: #fff;
    text-align: right;
    font-weight: 300;
}
.productPrice {
    text-align: right;
    font-size: 34px;
    line-height: 0;
    margin-top: 7%;
    color: #fff;
    font-weight: 700;
}
.productOtherSups {
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3%;
}
.productOtherSups span {
    font-size: 17px;
    font-weight: 400;
    text-decoration:line-through;
}
button.pedirBTN {
    float: right;
    width: 88px;
    /*height: 14px;*/
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: #d60d64;
    margin-top: -58%;
}