#modal-channel-contact {
    font-size: 18px !important;
}

.modal-content {
    width: 720px !important;
}
.channels-contact-btn {
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;
    padding: 13px;
    color: white;
    background-color: #D70F65 !important;
    border-color: transparent;
    margin-bottom: 10px;
    text-decoration: none;
}
.channels-contact-btn:hover {
    color: white;
    background-color: #9a114c;
    border-color: transparent;
    text-decoration: none;
}
.channels-contact-btn:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
    text-decoration: none;
}
.channels-contact-btn:focus {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
    text-decoration: none;
}
.channels-contact-btn:focus:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
    text-decoration: none;
}
.channels-contact-email {
    color: #D70F65;
    font-size: 21px !important;
    border-bottom: 2px #D70F65 solid;
    border-top: 2px #D70F65 solid;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    text-align: center;
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-email a {
    color: #D70F65;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-email a:hover {
    color: #D70F65;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-email a:active {
    color: #D70F65;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-email a:focus {
    color: #D70F65;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-email a:focus:active {
    color: #D70F65;
    text-decoration: none;
    cursor: pointer;
}
.channels-contact-social {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
    cursor: pointer;
}
.channels-contact-social img {
    text-align: center;
    padding: 5px !important;
}