html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/splash-bg.png") no-repeat 50% 50%;
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

header.main-header {
  padding: 40px 0;
}

header.main-header h1 {
  background: url("../img/merqueo-logo.svg") no-repeat 50% 50%;
  margin: 0 auto;
  width: 190px;
  height: 0;
  padding-top: 39px;
  overflow: hidden;
}

div.main-content {
  text-align: center;
  padding: 20px;
}

div.main-content h2 {
  font-weight: 300;
  margin: 0 0 35px;
}

div.main-content a.main-cta {
  display: block;
  background-color: #D70F65;
  color: #ffffff;
  font-weight: 700;
  padding: 20px 30px;
  margin: 0 0 40px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.main-content a.secondary-cta {
  display: block;
  color: #D70F65;
  font-weight: 500;
  text-shadow: 1px 1px 3px white;
}
