
.facebookBTN:hover {
    color: white;
    background-color: #1c2b4c;
    border-color: transparent;
}
.facebookBTN:active {
    color: white;
    background-color: #1c2b4c;
    border-color: transparent;
}
.facebookBTN:focus {
    color: white;
    background-color: #1c2b4c;
    border-color: transparent;
}
.facebookBTN:focus:active {
    color: white;
    background-color: #1c2b4c;
    border-color: transparent;
}
.crearCuentaBTN {
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;
    width: 100%;
    padding: 13px;
    color: white;
    background-color: #D70F65;
    border-color: transparent;
    margin-bottom: 10px;
}
.crearCuentaBTN:hover {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.thankyouBTN{
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;
    width: 30%;
    padding: 13px;
    color: white;
    background-color: #D70F65;
    border-color: transparent;
    margin-bottom: 10px;
    margin-top: 3%;
}
.thankyouBTN:hover {
    color: white;
    background-color: #9a114c;
    border-color: transparent;
}
.thankyouBTN:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.thankyouBTN:focus {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.thankyouBTN:focus:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.crearCuentaBTN2 {
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: gray;
    border-color: transparent;
    margin-bottom: 10px;
    margin-top: 26px;
}
#mainNav {
    padding: 20px;
    background-color: #fff;
    border-color: rgba(34,34,34,.1);
}
.pinkLabel {
    color: #d70f65;
}
.ilustracionCiudad {
    width: 100%;
}
.form-control{
}
.termsAndConditions {
    font-size: 12px;
    text-align: center;
}
.pinkLink {
    color: #d70f65;
}
.productImg {
    width: auto;
    height: 100px;
    text-align: center;
}
.textoProducto {
    font-size: 16px;
    color: #545454;
}
.grayDetail {
    color: #9E9E9E;
}
.Price {
    font-weight: bold;
    color: #545453;
}
.productBox {
    border: 1px #DDDDDD solid;
    border-radius: 5px;
    padding: 15px;
    background-color: #FCFCFC;
    box-shadow: 1px 1px 10px #e8e8e8;
}
.slide{
border: 1px #DDDDDD solid;
    border-radius: 5px;
    padding: 15px;
    background-color: #FCFCFC;
    box-shadow: 1px 1px 10px #e8e8e8;
}
.paddingProduct {
    padding: 20px;
}
section.productsHorizontal {
    background-color: #F5F5F5;
}
.titleProducts {
    text-align: center;
    color: #3D3D3D;
    font-weight: 500;
}
.col-phone-slider4 {
    width: 40%;
    float: left;
}
.col-phone-slider8 {
    width: 60%;
    float: right;
}
#carousel-example-captions {
    margin: auto;
}
a.right.carousel-control {
    background: none;
}
a.left.carousel-control {
    background: none;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 0;
    margin-right: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 0;
    margin-left: 0;
}
.carousel-control {
    text-shadow: none!important;
}
.centeredText {
    text-align: center;
    font-size: 15px;
    color: #4b4f56;
    margin-top: 15px;
}
.g-recaptcha {
    margin-bottom: 3%;
}
.thankyouPage {
    margin-top: 8em;
    text-align: center;
}
.formComplete {
    margin-top: 10%;
}
.imagenMercado {
    margin-top: 8em;
    text-align:center;
}
.imagenMercado img{
    width: 75%;
    margin-bottom: 5%;
}
.logoMerqueo {
    margin: auto;
    width: 100px;
}
.miPedido_table {
    margin-top: 4%;
    border-radius: 4px;
    box-shadow: none;
    padding: 0 3% 0;
}
.miPedido_table .table-responsive .table tbody tr td {
    width: 50%;
    border-bottom: 1px solid #D7D7D7;
    border-top: none!important;
    vertical-align: middle!important;
}
.miPedido_table .table-responsive .table tbody tr{
    height: 60px;
}
.miPedido_table .rechazado{
    color: #ff0000;
    font-weight: bold;
}
.table-left {
    font-size: 17px;
    color: #3E3E3E;
    font-weight: bolder;
    text-align: left;
}
.table-right {
    font-size: 17px;
    color: #3E3E3E;
    font-weight: lighter;
    text-align: right;
}
.recibido {
    color: #41CD8C;
    font-weight: bold;
}
.miPedidoTitle {
    text-align: center;
    line-height: 1;
    font-weight: bold;
    font-size: 24px;
}
.miPedidoTitle span {
    font-size: 18px;
    color: #929292;
    font-weight: 400;
}
.referidosBox {
    background: #FAFAFA;
    margin: 5% 0 0;
    border-radius: 0 0 4px 4px;
    padding: 0% 5%;
    border: solid 1px #E0E0E0;
}
.domicilioTitle {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #3E3E3E;
}
.domicilioText {
    font-size: 16px;
    text-align: center;
    color: #3E3E3E;
    font-weight: 100;
}
.socialMedia {
    margin: auto;
}
.refSocial {
    text-align: center;
}
.refSocial p {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    margin-top: 4px;
    margin-bottom: 4px!important;
}
.imgPedidoRecibido {
    margin-top: 10%;
    padding: 4%;
}
.imgPedidoRecibido img {
    width: 100%;
}
.pedidoRecibidoText {
    font-size: 30px;
    color: #90949C;
    text-align: right;
}
.totalText {
    font-size: 20px;
    font-weight: 700;
}
.modal-footer {
    border-top: none!important;
    text-align: center;
    padding-top: 0px!important;
    margin-top: 0px!important;
}
.modal-header {
    border-bottom: none;
}
.modalTitle {
    font-size: 30px;
    color: #3E3E3E;
    text-align: center;
}
.modal-body {
    text-align: center;
}
.modalbutton {
    border-radius: 4px;
    letter-spacing: 0;
    width: 70%;
    padding: 13px;
    color: white;
    background-color: #D70F65;
    border-color: transparent;
    margin-bottom: 10px;
}
.modalbutton:hover {
    color: white;
    background-color: #9a114c;
    border-color: transparent;
}
.modalbutton:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.modalbutton:focus {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.modalbutton:focus:active {
    color: white;
    background-color: #a7456f;
    border-color: transparent;
}
.modal-body {
    padding: 0 10%;
}
.modal-body p img{
    width: 100%;
}
.socialLinks{
    text-decoration: none;
    color: #3E3E3E;
}
.socialLinks:hover {
    text-decoration: none;
}
.socialLinks:active {
    text-decoration: none;
}
.socialLinks:focus {
    text-decoration: none;
}
.col-center {
    margin: auto;
    float: none!important;
}
.ratingContainer {
    text-align: center;
    padding-left: 30%;
}
.tagsCalification {
    text-align: center;
    margin: 0 0 5% 0;
}
.tagsHighCalification {
    text-align: center;
    margin: 0 0 5% 0;
}
.btn-tags-change {
    background-color: #d70f65;
    border: 1px #d70f65 solid;
    border-radius: 3px;
    color: white;
    margin: 2%;
    padding: 5px 10px;
}
.btn-tags {
    background-color: #ffffff;
    color: #000000;
    border: 1px #D1D1D7 solid;
    border-radius: 0 !important;
    margin: 2%;
    padding: 5px 10px;
}
.detalleMipedido {
    font-size: 14px;
}
.detalleTitle {
    font-size: 20px;
    letter-spacing: 0!important;
    font-weight: 400;
}
.goodCalification {
    display: inline-block;
    margin: 5% 5% 17%;
}
.textGoodCalification {
    font-size: 14px;
}
.logoMerqueo {
    text-align: center;
    width: 100%;
}
.miPedido_table {
    margin-top: 10%;
    border-radius: 4px;
    box-shadow: none;
    border: solid 1px #E0E0E0;
    padding: 8%;
}

@media (min-width:768px){.navbar-default{background-color:transparent;border-color:transparent}.navbar-default .navbar-header .navbar-brand{color:rgba(255,255,255,.7)}.navbar-default .navbar-header .navbar-brand:focus,.navbar-default .navbar-header .navbar-brand:hover{color:#fff}.navbar-default .nav>li>a,.navbar-default .nav>li>a:focus{color:rgba(255,255,255,.7)}.navbar-default .nav>li>a:focus:hover,.navbar-default .nav>li>a:hover{color:#fff}.navbar-default.affix{background-color:#fff;border-color:rgba(34,34,34,.1)}.navbar-default.affix .navbar-header .navbar-brand{color:#222}.navbar-default.affix .navbar-header .navbar-brand:focus,.navbar-default.affix .navbar-header .navbar-brand:hover{color:#fdcc52}.navbar-default.affix .nav>li>a,.navbar-default.affix .nav>li>a:focus{color:#222}.navbar-default.affix .nav>li>a:focus:hover,.navbar-default.affix .nav>li>a:hover{color:#fdcc52}}header{position:relative;width:100%;min-height:auto;overflow-y:hidden;}section .header-content{text-align:center;padding:150px 0 50px;position:relative}section .header-content .header-content-inner{position:relative;max-width:500px;margin:0 auto;text-align: center;}section .header-content .header-content-inner h1{margin-top:0;margin-bottom:30px;font-size:30px}section .header-content .header-content-inner .list-badges{margin-bottom:25px}section .header-content .header-content-inner .list-badges img{height:50px;margin-bottom:25px}header .device-container{max-width:300px;margin:0 auto 100px}header .device-container .screen img{border-radius:3px}.carrouselSlider{display:none;}

@media (min-width:768px){header{min-height:80%}section .header-content{text-align:left;padding:0;    margin: 35% auto 0;}section .header-content .header-content-inner{max-width:none;margin:0;position:absolute;top:30%;transform:translateY(-30%);     padding-right: 15%;}section .header-content .header-content-inner h1{font-size:35px}section .device-container{max-width:none;max-height:calc(0vh);margin:20% auto 0}}footer,section.contact{text-align:center}

@media (min-width:992px){section .header-content .header-content-inner h1{font-size: 65px; font-weight: 500;color: #4B4F56;}}section{padding:50px 0}section h2{font-size:50px}section.download{padding:150px 0;position:relative}section.download h2{margin-top:0;font-size:50px}section.download .badges .badge-link{display:block;margin-bottom:25px}section.download .badges .badge-link:last-child{margin-bottom:0}section.download .badges .badge-link img{height:60px}

@media (min-width:768px){section.download .badges .badge-link{display:inline-block;margin-bottom:0}section.download h2{font-size:70px}}section.features .section-heading{margin-bottom:100px}section.features .section-heading h2{margin-top:0}section.features .section-heading p{margin-bottom:0}section.features .device-container,section.features .feature-item{max-width:300px;margin:0 auto}section.features .device-container{margin-bottom:100px}

@media (min-width:992px){section.features .device-container{margin-bottom:0}section.features .device-container,section.features .feature-item{max-width:none}}section.features .feature-item{text-align:center;margin-bottom:100px}section.contact h2,section.cta .cta-content h2{margin-top:0;margin-bottom:25px}section.features .feature-item h3{font-size:30px}section.features .feature-item i{font-size:80px;background:-webkit-linear-gradient(to left,#7b4397,#dc2430);background:linear-gradient(to left,#7b4397,#dc2430);-webkit-background-clip:text;-webkit-text-fill-color:transparent}section.cta{position:relative;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;background-position:center;background-image:url(../img/bg-cta.jpg);padding:250px 0}section.cta .cta-content{position:relative;z-index:1}section.cta .cta-content h2{color:#fff;max-width:450px;font-size:50px}

@media (min-width:768px){section.cta .cta-content h2{font-size:80px}}section.cta .overlay{height:100%;width:100%;background-color:rgba(0,0,0,.5);position:absolute;top:0;left:0}footer ul,section.contact ul.list-social{margin-bottom:0}section.contact h2 i{color:#dd4b39}section.contact ul.list-social li a{display:block;height:80px;width:80px;line-height:80px;font-size:40px;border-radius:100%;color:#fff}footer p,footer ul li a{font-size:12px}footer,footer ul li a{color:rgba(255,255,255,.3)}section.contact ul.list-social li.social-twitter a{background-color:#1da1f2}section.contact ul.list-social li.social-twitter a:hover{background-color:#0d95e8}section.contact ul.list-social li.social-facebook a{background-color:#3b5998}section.contact ul.list-social li.social-facebook a:hover{background-color:#344e86}section.contact ul.list-social li.social-google-plus a{background-color:#dd4b39}section.contact ul.list-social li.social-google-plus a:hover{background-color:#d73925}footer{background-color:#222;padding:25px 0}footer p{margin:0}footer ul li a.active,footer ul li a:active,footer ul li a:focus,footer ul li a:hover{text-decoration:none}.bg-primary{background:#fdcc52;background:-webkit-linear-gradient(#fdcc52,#fdc539);background:linear-gradient(#fdcc52,#fdc539)}.text-primary{color:#fdcc52}.no-gutter>[class*=col-]{padding-right:0;padding-left:0}.btn-outline{color:#fff;border:1px solid}.btn-outline.active,.btn-outline:active,.btn-outline:focus,.btn-outline:hover{color:#fff;background-color:#fdcc52;border-color:#fdcc52}.btn-xl{padding:15px 45px;font-size:11px}::-moz-selection{color:#fff;text-shadow:none;background:#222}::selection{color:#fff;text-shadow:none;background:#222}img::selection{color:#fff;background:0 0}img::-moz-selection{color:#fff;background:0 0}

@media (max-width:550px){.ilustracionCiudad{display:none}section .header-content{padding: 100px 0 0;}.carrouselSlider{display:block;}.productsNoSlider{display:none}.productImg {margin-left:15px;}.imagenMercado img{
    display: none;}.thankyouBTN{width:100%}.thankyouImg{width:70%}.thankyouPage h1{font-size: 24px}}

.miPedido_message {
    margin-top: 10%;
    box-shadow: none;
    padding: 8% 3% 0;
}

.im2
{
    background-size: 27px 27px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 20px;
}

.btn-pse
{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background-color: #00539c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1px solid #00539c;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}

.pse
{
    width: 50px;
    height: 50px;
    object-fit: contain;
    float: right;
    position: relative;
    top: -18px;
}

.pse-box
{
    position: relative;
    text-align: center;
    border-radius: 1px;
    background-color: #fafafa;
    border: solid 1px #E0E0E0;
    min-height: 234px;
    padding-bottom: 70px;
    padding-top: 60px;
    width: 600px;
    margin: 10% auto 0;
}

.btn-pse-text
{
    width: 320px;
    height: auto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #ffffff;
    float: left;
}

.redirect-text
{
    width: 100%;
    /*height: 47px;*/
    opacity: 0.57;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #000000;
}

.loading-pse
{
    margin: 0 auto;
    width: 35px;
    height: 35px;
    /*background-color: #000000;*/
    position: relative;
    margin-bottom: 20px;
}
.retryTransaction_table{
    margin-top: 4%;
    padding: 3% 10%;
}
.loading-pse.spinner{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    position: relative;
    color: #d1296e;
    visibility: hidden;
}