.payuResponse_table{
	margin-top: 4%;
	box-shadow: none;
	padding: 3% 15%;
	background-color: #fafafa;
}
.miPedidoTitle {
	height: 50px;
	background-color: #292c36;
	padding-top: 10px;
	padding-bottom: 7px
}

.payuResponse_table .table-responsive .table tbody{
	box-shadow: 1px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
.payuResponse_table .table-responsive .table tbody tr{
	height: 45px;
}
.payuResponse_table .table-responsive .table tbody tr td {
	width: 50%;
	border-bottom: 1px solid #D7D7D7;
	border-top: none!important;
	vertical-align: middle!important;
	padding: 8px 15px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7d7d7;
}

.miPedidoTitle p {
	/*font-family: SFUIDisplay;*/
	font-size: 23px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: center;
	color: #ffffff;
}

.label{
	font-weight: 300;
	color: #87898e;
	font-size: 14px;
	height: 35px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 16px;
	background-color: #FFF;
	margin-bottom: 1px;
	border-radius: 0px;
	white-space: normal;
}

.label label {
	height: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	text-align: center;
	color: #575859;
}

.btn-payu {
	height: 43px;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	padding: 5px 20px;
}

.btn-payu-go-home{
	background-color: #4fa750;
	border : 1px solid #4fa750;
	margin: 8px 10px;
}

.btn-payu-go-home.approved{
	background-color: #3b99fc;
	border : 1px solid #3b99fc;
	margin: 8px 10px;
}
.btn-payu-cancel{
	background-color: #FF0000;
	border : 1px solid #FF0000;
	margin: 8px 10px;
}
.btn-payu-go-transaction{
	background-color: #3b99fc;
	border : 1px solid #3b99fc;
}

.btn-payu-downoload{
	background-color: #fff;
	border: solid 1px #ed7d3a;
	color: #ed7d3a !important;
}

.icono_descargar {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.btns-payu{
	text-align: center;
}
.status-transaction{
	color: #FF0000;
	font-weight: bold;
}
.status-transaction.approved{
	color:#4fa750;
}
.cancel-transaction.modal{
	padding-top: 5%;
}
.cancel-transaction.modal .modal-content{
	border-radius: 6px;
	padding: 30px 0px;
}
.cancel-transaction.modal .txt-cancel{
	font-weight: 600;
	opacity: 0.8;
	margin-top: 20px;
}
.cancel-transaction.modal .btn-acept-cancel{
	background-color: #3b99fc;
	border : 1px solid #3b99fc;
	padding: 5px 50px;
	margin: 10px 0;
}