.home-logo img {
    width: 200px;
}

.home-header {
    padding: 20px;
}

.home-header .btn {
    font-weight: bold;
    padding: 8px 20px;
}

.home-inner-container {
    float: none;
    margin: 0 auto;
}

body, h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', 'Noto Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #1f1f1f;
    margin: 0;
    line-height: 1.4;
}

form.home {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.home input, form.login input, form.signup input {
    height: 50px;
    padding: 12px;
}

.home-content .btn, .login-content .btn, .signup-content .btn {
    padding: 15px;
}

.btn {
    font-family: 'Open Sans', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: bold;
}

.home-footer p.max {
    max-width: 400px;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home h1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.home-content, .login-content {
    padding: 40px 0;
    min-height: 480px;
}

.home .home-address h4 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 21px;
}

.home h5 {
    margin-top: 40px;
}

.home ul.foot {
    margin-bottom: 20px;
}

.home ul.foot li a {
    text-decoration: none;
}

.log-inner, .signup-inner {
    float: none;
    margin: 0 auto;
}

.log-inner .btn, .signup-inner .btn {
    width: 100%;
}

.login-content h5 {
    margin: 20px 0px;
}

.signup-content h5 {
    margin: 5px 0px;
}

.signup-content .signup .col-md-6 {
    padding: 0px;
}

.signup-content .signup .col-md-6:nth-child(1) {
    padding-right: 5px;
}

.signup-content .signup .col-md-6:nth-child(2) {
    padding-left: 5px;
}

.signup-content .signup .form-group {
    margin-bottom: 5px;
}

.container-fluid.product {
    padding: 0px;
}

.row.no-margin {
    margin: 0px;
}

.pro.navbar-default {
    background-color: #292b36;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    text-shadow: none;
    margin-bottom: 0px;
}

.pro .navbar-brand img {
}

.navbar-form.navbar-left input, .navbar-form.navbar-left .btn-default {
    height: 50px;
    border: 0px;
    background: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-shadow: none;
}

@media screen and (min-width: 767px) {
    .navbar-default .border-right {
        min-height: 75px;
    }

    .dropdown-toggle.a { /* min-height: 75px; */
    }

    .navbar-form {
        padding-top: 4px;
    }
}

.nav-top-title {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
}

.nav-title {
    font-weight: 200;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 3px;
}

.nav-bottom-title {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    line-height: 16px;
}

.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    float: right;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-bottom: 0 dotted;
    border-left: 6px solid transparent;
    margin-top: 8px;
    margin-left: 20px;
}

.navbar-default .btn.link {
    border: 2px solid;
    padding: 10px;
}

.navbar-default .navbar-nav.navbar-right > .open > a, .navbar-default .navbar-nav.navbar-right > .open > a:hover, .navbar-default .navbar-nav.navbar-right > .open > a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-right {
    margin-top: 15px;
    margin-bottom: 6px;
}

.navbar-right li a.tp {
    padding-top: 15px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #717171;
}

.sub-menu {
    border-bottom: 1px solid #e5edec;
    display: table;
    width: 100%;
}

.sub-menu .left a {
    font-weight: 600;
    padding: 15px 22px;
    display: inline-block;
    color: #50944a;
    border-right: 1px solid #e5edec;
    text-decoration: none;
}

.sub-menu .left .menu-img a {
    padding: 0;
}

#change-store a {
    padding-left: 0;
}

.sub-menu .left a:hover {
    color: #ce593d;
    cursor: pointer;
    text-decoration: none;
}

.sub-menu .left a i {
    margin-right: 5px;
}

.sub-menu .right {
    border-left: 1px solid #e5edec;
}

.sub-menu .right .icon-shopping-cart {
    vertical-align: middle;
    font-size: 26px;
    color: #60ab59;
    padding: 0 6px 0 8px;
}

.sub-menu .right .icon-truck {
    font-size: 20px;
    padding: 0 6px 0 8px;
}

.sub-menu .right {
    color: #929292;
    padding: 15px 25px;
    text-align: left;
}

#cart-btn .btn-group {
    float: right;
    margin-right: 15px;
    font-size: 17px;
}

.total-cart {
    text-align: right !important;
    font-size: 18px;
    font-weight: bold;
}

.sub-menu .right .count {
    margin-right: 15px;
}

.btn-group .btn.lef {
    border: 0px;
    background-color: #db9420;
    color: #fff;
}

.btn-group .btn.lef:hover {
    position: relative;
    top: 0px;
}

.btn-group .btn.rig {
    border: 0px;
    background-color: #f5a623;
    color: #fff;
}

.sub-menu .right:hover {
    cursor: pointer;
    background-color: #487943;
    color: #fff;
}

.sub-menu .right:hover .icon-truck {
    color: #fff;
}

.pro-title {
    background-color: #0A6249;
    padding: 15px 30px;
    color: #fff;
}

img.pro-logo {
    width: 30px;
    margin: 0 10px 0 0;
}

.del-detail .str {
    opacity: 0.7;
    font-size: 14px;
}

.del-detail p {
    font-size: 18px;
    margin-bottom: 0px;
}

.del-detail {
    max-width: 200px;
    background-color: #08533d;
    border-radius: 8px;
    padding: 15px;
    float: right;
}

.chng-store {
    margin-bottom: 10px;
}

.chng-store a {
    opacity: 0.7;
    cursor: pointer;
    color: #fff;
}

.chng-store i {
    margin-right: 5px;
}

.product-page-title h2 {
    padding-left: 15px;
}

.product-page-title h2 a.head {
    font-weight: 300;
    font-size: 30px;
    line-height: 24px;
    color: #777;

}

.product-page-title h2 a.head:hover {
    color: #50944a;
}

.product-page-title span a {
    color: #50944a;
    font-size: 12px;
    border: 1px solid transparent;
    padding: 2px 5px;
    border-radius: 3px;
}

.product-page-title span a:hover {
    text-decoration: none;
    border-color: #50944a;
    border: 1px solid #50944a;
}

.product-list {
    color: #5a5a5a;
    font-weight: 400;
    border: 1px solid #e5edec;
    min-height: 300px;
    margin: 15px 0px;
    position: relative;
    background-color: #fff;
    border-left: none;
    overflow: hidden;
}

.product-list-info {
    padding: 10px;
    display: table;
    width: 100%;
    font-size: 13px;
    height: 89px;
}

.product-list-prize {
    color: #545151;
    font-size: 17px;
    text-align: right;
    display: block;
}

.pro-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-list .add-cart {
    width: 100%;
    padding: 10px 5px 10px 7px;
    /*border-top: 1px solid #e5edec;*/
    background-color: rgba(0, 0, 0, .03);
    text-align: center;
}

.product-list-img {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.product-list-img img {
    padding: 20px 0;
}

.product-list:hover .add-cart { /* display: block; */
}

#cart-desc { /* border-left: 1px solid #e5edec; *//* border-bottom: 1px solid #e5edec; */
    overflow-y: scroll;
    padding: 0px;
    z-index: 10;
    background-color: #eee;
}

.pro-bg, body {
    background-color: #fcfcfc;
}

.sd-cart-title {
    background-color: #438ead;
    padding: 16px 12px;
    color: #fff;
    font-size: 13px;
}

.sd-cart-title div {
    padding: 0px;
}

.sd-count {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 14px;
    background-color: #36778d;
    margin: 0 3px;
    display: block;
    width: 35px;
    float: left;
}

.sd-del-time { /* margin-left: 5px; */
}

.sd-cart-price {
    /* background-color: #d16c76; */
    padding: 6px 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
}

.sd-cart-subtit {
    background-color: #36778d;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.sd-cart-subtit p {
    margin: 5px;
}

/*.sd-pro-img img{width: 30px;height: 30px;}*/
.sd-cart-pro-li {
    padding: 15px 5px;
    color: #5a5a5a;
    /*border-bottom: 1px solid #e5edec;*/
}

.sd-ser-no {
    color: #969696;
}

.sd-pro-detail .qty {
    color: #969696;
}

.sd-pro-rate {
    color: #969696;
}

.side-cart-bottom .del div {
    border-left: 1px solid #e5edec;
    padding-top: 15px;
    padding-bottom: 15px;
}

.side-cart-bottom, .side-cart-bottom a {
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.side-cart-bottom i {
    margin-right: 5px;
}

.ck-now {
    padding: 20px;
}

.ck-now .btn {
    width: 85%;
    color: #fff;
    background-color: #f5a623;
    margin: 0 auto;
    text-decoration: none;
}

.del {
    border-bottom: 1px solid #e5edec;
    border-top: 1px solid #e5edec;
}

.side-cart-top {
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .top-head-fix {
        position: fixed;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        top: 0px;
    }

    #cart-desc {
        position: fixed;
        right: 0;
        top: 66px;
        transition: transform 200ms linear;
    }

    #cart-desc.pinned {
        /*transform: translateY(70px);*/
    }

    .side-cart-top-inn {
    }

    .pro-bg {
        position: relative;
        top: 138px;
    }

    /*.pro-bg{position: relative;top: 180px;}*/
    .nav > li {
        position: static;
    }

}

@media screen and (min-width: 1367px)  and (min-width: 1439px) {

    .headroom--unpinned {
        transform: translateY(-108px) !important;
    }

    .dropdown-menu .menu-img img {
        height: 102px;
        width: auto;
    }

    #header-search-form .autocomplete {
        width: 100%;
    }
}

@media screen and (min-width: 1440px)  and (min-width: 1599px) {

    .headroom--unpinned {
        transform: translateY(-114px) !important;
    }

    .dropdown-menu .menu-img img {
        height: 116px;
        width: auto;
    }

    #header-search-form .autocomplete {
        width: 100%;
    }
}

@media screen and (min-width: 1600px)  and (min-width: 1919px) {

    .headroom--unpinned {
        transform: translateY(-124px) !important;
    }

    .dropdown-menu .menu-img img {
        height: 145px;
        width: auto;
    }

    #header-search-form .autocomplete {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {

    .headroom--unpinned {
        transform: translateY(-124px) !important;
    }

    .dropdown-menu .menu-img img {
        height: 145px;
        width: auto;
    }

    #header-search-form .autocomplete {
        width: 100%;
    }
}

#cart-desc .row {
    margin: 0px;
}

.product-list-img.full-width img {
    width: 100%;
}

.autocomplete .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autocomplete .name a {
    color: #333333;
}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    margin: 0 -2px;
    position: fixed;
    right: 0;
    min-height: 250px;
    top: 134px;
    /*top: 178px;*/
    padding: 20px 10px;
    border-radius: 0;
}

.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}

.dropdown-menu-large > li > ul > li {
    list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}

.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }

    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }

}

.menu-img {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu-img img {
    height: 85px;
    width: 100%;
}

.menu-img div {
    border: 1px solid #e5edec;
    padding: 10px;
}

.dropdown-menu i {
    margin-right: 5px;
}

.dropdown-menu button.close {
    font-size: 30px;
}

.sub-menu.icon-chevron-right
.sub-menu {
    margin: 0;
}

.dropdown-menu h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #9b9b9b;
    font-size: 22px;
}

.dropdown-menu h2 span {
    color: #438ead;
}

.dropdown-menu a.menu-btn {
    padding: 6px 12px;
    color: #50944a;
    border: 1px solid #50944a;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 21px;
    margin-bottom: 6px;
}

.dropdown-menu a.menu-btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.popular a {
    display: inline-block !important;
    font-size: 16px;
}

.popular {
    padding: 4px 0;
    border-top: 1px solid #50944a;
    border-bottom: 1px solid #50944a;
    margin: 10px 0;
}

.popular i {
    margin-right: 5px;
}

.dropdown-menu li a {
    color: #777777;
}

.dropdown-menu li a:hover {
    color: #ce593d;
    background-color: transparent;
}

.dropdown-menu-large > li > ul > li > a {
    color: #777777;
}

.dropdown-menu-large > li > ul > li > a:hover {
    color: #ce593d;
    background-color: transparent;
}

.menu-img a {
    display: block !important;
    cursor: pointer;
}

@media screen and (min-width: 1001px) and (max-width: 1279px) {

    .sub-menu {
        font-size: 11px;
    }

    .sub-menu .btn {
        font-size: 14px;
    }

    .sub-menu .right {
        padding: 14px 10px 13px;
    }

    .embedded .search_form {
        width: 53% !important;
    }

    .embedded .top-head-fix .col-md-8 {
        width: 61.666667% !important;
    }

    .embedded .top-head-fix .col-md-4 {
        width: 38.333333%;
    }

    .embedded #cart-desc {
        width: 38.333333%;
    }

    .embedded .visible-xs.visible-sm {
        display: none !important;
    }

    .embedded .categories.web > .nav {
        width: 177px;
    }

}

@media screen and (min-width: 620px) and (max-width: 1000px) {

    .sub-menu {
        font-size: 11px;
    }

    .sub-menu .btn {
        font-size: 14px;
    }

    .sub-menu .right {
        padding: 14px 10px 13px;
    }

    .embedded .search_form {
        width: 62% !important;
    }

    .embedded .top-head-fix .col-md-8 {
        width: 53.666667% !important;
    }

    .embedded .top-head-fix .col-md-4 {
        width: 46.333333%;
    }

    .embedded #cart-desc {
        width: 46.333333%;
    }

    .embedded .store-delivery-slot {
        display: none;
    }

    .embedded .mdl-cell--10-col {
        width: calc(99.333333% - 16px);
        display: inline-block;

    }

    .embedded .mdl-cell--2-col {
        width: calc(99.333333% - 16px);
    }

    .embedded .autocomplete {
        top: 42px !important;
        min-width: 580px;
    }

    .embedded .visible-xs.visible-sm {
        display: inline-block !important;
        width: 100%;
    }

    .embedded .hidden-sm {
        display: none !important;
    }

    .embedded .modal-dialog {
        width: 699px;
    }

    .embedded #address-city .select_address {
        width: 100% !important;
    }

    .embedded .cart-view {
        font-size: 12px;
    }

    .embedded .sd-pro-detail {
        width: 54%;
    }

    .embedded .checkout-bg {
        font-size: 12px;
    }

    .embedded .checkout-bg h3 {
        font-size: 18px;
    }

    .embedded h2 {
        margin: 0%;
    }
}

@media (max-width: 767px) {

    .sub-menu .left a {
        width: 100%;
        border-bottom: 1px solid #e5edec;
        padding: 10px;
        text-align: center;
    }

    .product-list-img.full-width img {
        width: auto;
    }

    .sub-menu .right, .pro-title {
        text-align: center;
    }

    .txt-c {
        text-align: center;
    }

    .chng-store {
        margin-top: 10px;
    }

    .del-detail {
        float: none;
        margin: 0 auto;
    }

    #cart-desc {
        position: static;
    }

    .dropdown-menu {
        background-color: #fff !important;
    }

    .navbar-default {
        border-bottom: 1px solid #0A6249 !important;
    }

    .navbar-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .resp-mb {
        margin-bottom: 15px;
    }

    .list-page-title {
        text-align: center;
    }

    .list-page-title span.input-group {
        float: none !important;
        margin: 0 auto;
        width: 300px !important;
    }

    .edit-list-page-title {
        text-align: center;
    }

    .edit-list-page-title .input-group.pull-right {
        float: none !important;
        margin: 0 auto;
    }
}

.modal-content {
    border-radius: 0px;
}

#change-zip .modal-header {
    background-color: #e5edec;
}

@media screen and (min-width: 767px) and (max-width: 800px) {
    .sd-cart-title {
        font-size: 10px;
        padding: 12px 2px;
    }

    .sd-count {
        padding: 4px 8px;
        width: 22px;
    }

    .sd-cart-price {
        padding: 4px 6px;
    }

    .sd-cart-pro-li {
        font-size: 10px;
        padding: 10px 2px;
    }

    .sd-pro-rate {

        float: right;
        position: relative;
        top: -30px;
    }

}

#product-detail-modal .modal-header {
    min-height: 260px;
}

#product-detail-modal .modal-header h3 {
    font-weight: 100;
}

#product-detail-modal .modal-header a {
    color: #777777;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

#product-detail-modal .modal-header a.btn.btn-success {
    color: #fff;
}

a.product-price-btn {
    color: #777777;
    padding: 6px 10px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #777777;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: middle;
}

#product-detail-modal .modal-header .dropdown-toggle {
    padding: 0px;
    box-shadow: none;
}

#product-detail-modal .modal-header i {
    margin-right: 5px;
}

#product-detail-modal .modal-header .fr {
    float: right;
}

.product-detail-modal-right .col-md-12 {
    padding: 0px;
}

#swf-modal .modal-header {
    padding: 0px;
}

#swf-modal .modal-header img {
    width: 100%;
}

#swf-modal h4.muted {
    color: #9b9b9b;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 17px;
}

#swf-modal .modal-body {
    min-height: 350px;
}

#swf-modal .modal-body h4 {
    margin-bottom: 15px;
}

ul.unstyled {
    list-style: none;
    padding: 0px;
}

ul.unstyled li p {
    margin-bottom: 2px;
}

.muted {
    color: #9b9b9b;
}

#swf-modal .btn {
    background-color: #f5a623;
    border: 0px;
    color: #fff;
    margin: 0 auto;
    width: 100%;
}

.recipe-list-content {
    color: #fff;
    padding: 10px;
    position: relative;
    min-height: 225px;
}

.recipe-list {
    background-position: center;
    background-size: cover;
}

.recipe-list-content h3 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;

}

.recipe-list-content p {
    color: #FFF;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 10px;
    margin-bottom: 30px;
}

.recipe-list-content h3 span {
    font-size: 14px;
    font-weight: normal;
}

a.text-dec-none {
    text-decoration: none;
}

.recipe-list-outer {
    padding: 5px;
    display: block;
    border: 1px solid #777777;
    margin: 10px 0px;
}

.recipe-list-outer:hover {
    border-color: #1385b2;
    background-color: #1385b2;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.list-page-title h2 a {
    text-decoration: none;
    color: #5a5a64;
}

.list-page-title span.input-group {
    width: 310px;
}

.list-page-title .list-inline > li:first-child {
    padding-left: 5px;
}

.list-page-title ul li a {
    text-decoration: none;
    color: #5a5a64;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.list-page-title ul li a:hover, .list-page-title ul li.active a, .list-page-title ul li.active a:hover {
    border-bottom: 2px solid #1385b2;
}

.list-page-title ul li {
    margin-bottom: 10px;
}

.recipe-modal-bg {
    height: 240px;
    background-size: cover;
    position: relative;
    color: white;
    background-position: center;
}

#recipe-detail-modal h3 {
    color: #fff;
    position: absolute;
    bottom: 5px;
}

#recipe-detail-modal h3 span {
    font-size: 14px;
}

.recipe-modal-share a {
    color: #fff;
    text-decoration: none;
}

.recipe-modal-share {
    text-align: right;
}

.modal .dropdown-menu {
    right: 0;
    left: auto;
    text-align: left;
}

.recipe-modal-body {
    display: flex;
}

.recipe-cart-list, .recipe-cart-list a {
    font-size: 12px;
}

.recipe-cart-list img {
    width: 30px;
    float: left;
    margin-right: 5px;
}

.recipe-cart-list span {
    float: left;
    margin-right: 10px;
}

.recipe-cart-list .btn {
    float: right;
}

.recipe-cart-list {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70px;
}

.recipe-cart-list:first-child {
    border-top: 1px dashed transparent;
}

.modal-blue-bg {
    background-color: #F7FBFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width: 800px) {
    .modal-dialog {
        /*width: 800px;*/
    }
}

.edit-list-page-title .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-success {
    color: #fff !important;
}

.edit-list-page-left .product-search {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.pro-bg i {
    margin-right: 5px;
}

@media screen and (max-width: 1120px) {

    .pro-search-list {
        width: 100%;
    }

    .pro-search-list li {
        display: inline-block;
        margin-right: 10px;
    }

    .pro-search-list .opt {
        display: inline-block;
    }
}

/* CSS used here will be applied after bootstrap.css */

.round label {
    top: 3px;
    left: 15px;
    margin-right: 30px;
    position: relative;
    font-weight: normal;
    display: initial;

}

input.faChkRnd, input.faChkSqr {
    visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
    visibility: visible;
    font-family: FontAwesome;
    font-size: 20px;
    height: 17px;
    width: 17px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    display: inline-block;
    color: #50944a;
}

input.faChkRnd:checked:after {
    content: '\f058';
}

input.faChkRnd:after {
    content: '\f10c';
}

input.faChkSqr:checked:after {
    content: '\f14a';
}

input.faChkSqr:after {
    content: '\f096';
}

.edit-list-page-cart {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.64);
    box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.64);
    border-radius: 5px;
}

.edit-list-page-cart-head {
    height: 240px;
    background-size: cover;
    color: white;
    background-position: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.edit-list-page-cart-content {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 363px;
    background-color: white;
    padding: 20px;
}

.edit-list-page-cart .list-name:focus {
    outline: none !important;
    border-bottom: 1px solid #fff;
}

.edit-list-page-cart .upload {
    background: transparent;
    color: #fff;
}

.edit-list-page-cart .list-name {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
}

.ed-li-inner {
    position: absolute;
    bottom: 5px;
    margin-left: 15px;
}

.edit-list-des li {
    width: 50%;
}

.edit-list-des {
    border-bottom: 0px;
}

.nav-tabs.edit-list-des > li a {
    border: 0px;
    border-bottom: 2px solid transparent;
    background: transparent;
    text-align: center;
    color: #000;
}

.nav-tabs.edit-list-des > li.active > a, .nav-tabs.edit-list-des > li.active > a:hover, .nav-tabs.edit-list-des > li.active > a:focus, .nav-tabs.edit-list-des > li a:hover {
    border: 0px;
    border-bottom: 2px solid #1385b2;
    background: transparent;
    color: #000;
}

.acc-des {
    border-bottom: 0px;
}

.nav-tabs.acc-des > li a {
    border: 0px;
    border-bottom: 5px solid transparent;
    background: transparent;
    text-align: center;
    color: #000;
    color: #9b9b9b;
    font-weight: 700;
}

.nav-tabs.acc-des > li.active > a, .nav-tabs.acc-des > li.active > a:hover, .nav-tabs.acc-des > li.active > a:focus, .nav-tabs.acc-des > li a:hover {
    border: 0px;
    border-bottom: 5px solid #1385b2;
    background: transparent;
    color: #1385b2;

}

#acc .left .opt input {
    float: right;
}

#acc .left input {
    border: 0px;
    outline: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #9b9b9b;
    border-radius: 0px;
    font-size: 20px;
    padding-bottom: 10px;
    min-height: 50px;
}

#acc .left input:focus {
    border-bottom: 1px solid #549250;
}

#acc .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.acc-info .title {
    width: 20%;
    display: block;
    float: left;
}

.acc-info .value {
    width: 60%;
    display: block;
    float: left;
}

.acc-info a {
    width: 20%;
}

#edit-email-modal .modal-header, #edit-pwd-modal .modal-header, #coupon-modal .modal-header, #exp-learn-modal .modal-header, #exp-learn-modal .modal-footer, #add-card-modal .modal-header, #add-address-modal .modal-header {
    background-color: #e5edec;
}

#edit-email-modal .btn, #edit-pwd-modal .btn, #noti .btn {
    margin-bottom: 10px;
}

.credit-account h2 {
    color: #50944a;
    margin-bottom: 20px;
}

.chk h2 {
    margin-top: 15px;
    color: #fff;
    margin-left: 20px;
}

.checkout-bg {
    /* float: none; */
    /* margin: 0 auto; */
    padding: 30px;
    background-color: #fff;
    border: 1px solid #e5edec;
    /* margin-top: 20px; */
    border-radius: 5px;
}

#exp-learn-modal .modal-body {
    min-height: 380px;
}

#exp-learn-modal .modal-body span h4, #exp-learn-modal .modal-body span h3 {
    color: #fff;
}

#exp-learn-modal .modal-body span {
    background: #50944a;
    display: block;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.tab-content .btn-default.add {
    border-radius: 0px;
    padding: 10px 20px;
}

#add-card {
    min-height: 200px;
}

#add-card form {
    width: 100%;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

#add .table {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #DDD;
    margin-top: 30px;
    text-align: center;
}

#add .table th {
    text-align: center;
}

#pay .table {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #DDD;
    margin-top: 30px;
    text-align: center;
}

#pay .table th {
    text-align: center;
}

.sd-ser-no input {
    position: relative;
    left: -7px;
    width: 40px !important;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #E8E8E8;
    text-align: center;
    padding: 5px 0px;
    font-family: 19px !important;
}

.product-remove i {
    background-color: #438ead;
    margin-top: 5px;
    border: 1px solid #438ead;
    border-radius: 31px;
    color: #fff;
    font-size: 10px;
    padding: 3px 5px;
}

.sd-pro-rate {
    text-align: right;
}

.product-remove {
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    #cart-btn .btn-group {
        float: none;
        margin-right: 0px;
    }
}

.ser-pro-img img {
    width: 40px;
    height: 40px;
}

.ser-pro-detail .qty {
    color: #969696;
}

.ser-cart-pro-li {
    padding: 10px 5px;
    border-top: 1px dashed #ccc;
    margin: 0px;
}

.list-search-result {
    background-color: #fff;
    padding: 20px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    .list-search-result {
        background-color: #fff;
        padding: 0px;
    }

    .ser-pro-img img {
        width: 30px;
        height: 30px;
    }

    .home-header {
        text-align: center;
    }

    .home-header-right {
        margin-top: 20px;
        text-align: center;
    }
}

.product-list-img img {
    max-height: 200px; /* width: 100%; */
    max-width: 100%;
}

#product-detail-modal .product-detail-modal-left img {
    max-height: 225px;
}

.home-header-right .btn-primary {
    background: transparent;
    color: #357EBD;
}

.home-header-right .btn-primary:hover {
    background: #357EBD;
    color: #ffffff;
}

/** Ajustes **/
body:not('.home') label.col-xs-1 {
    /* width: 25px !important; */
    padding: 0 !important;
    text-align: center;
    line-height: 34px;
}

.modal label.col-xs-1 {
    width: 24px !important;
}

label {
    font-weight: normal;
}

.product-list a:hover {
    text-decoration: none;
}

#cart-data {
    background-color: #F3F3F3;
}

.next-link {
    border-left: none !important;
    margin-left: -4px;
    margin-right: 15px;
}

.user-navbar {
    margin-top: -3px;
}

.store-status {
    cursor: default;
    padding: 10px !important;
    margin-left: 10px !important;
    border-radius: 4px !important;
}

.store-status.closed {
    background-color: #D25454;
    color: #fff !important;
}

.sd-market-tit {
    font-size: 16px;
    font-weight: bold;
}

#cart-btn {
    font-size: 16px;
    line-height: 30px;
}

.address-toggle {
    margin-top: -4px;
}

.product-remove:hover i {
    background-color: #333;
    border-color: #333;
}

.product-remove a:hover {
    text-decoration: none;
}

.pro-bg:not(.single_product):not(.single_department):not(.single_shelf):not(.all_departments) {
    background-color: #fff;
}

.product-cart {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    color: #fff;
}

.product-cart span.count {
    font-size: 62px;
    display: block;
    padding-top: 40px;
}

.product-list.in-cart:hover .product-cart {
    display: block;
}

.product-cart-counter {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 7px;
    border-radius: 6px;
}

.product-list.in-cart .product-cart-counter {
    display: block;
}

.product-list.in-cart:hover .product-cart-counter {
    display: none;
}

.cart-add-initial {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: rgba(45, 49, 74, 0.8);
    border-radius: 1000px;
    padding: 18px 15px 11px;
    color: #fff;
    left: 54px;
    font-size: 16px;
}

.cart-add-initial:hover span {
    color: #03F004;
}

.product-list:hover:not(.in-cart) .cart-add-initial {
    display: block;
}

.cart-add-initial span {
    font-size: 25px;
}

.product-column {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
}

#modal-product-image {
    max-height: 200px !important;
    max-width: 350px !important;

}

.product-column:first-child .product-list,
.product-column:nth-child(5n+1) .product-list {
    border-left: 1px solid #e5edec;
}

.product-name {
    /* height: 20px; */
    color: #333;
}

.ck-now a:hover {
    text-decoration: none;
}

.ck-now .btn:hover {
    background-color: #E89C1F;
}

.name-link:hover p {
    text-decoration: underline !important;
}

.cart-view .side-cart-top {
    overflow: inherit;
    height: auto !important;
}

.cart-view .ck-now {
    display: none;
}

.store-delivery-slot {
    display: inline-block;
    margin-left: 10px;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-75px);
    /*transform: translateY(-114px);*/
}

.product-list .cart-add,
.product-list .cart-less {
    display: none;
    position: absolute;
    top: 30%;
    margin-top: -10px;
    border-radius: 1000px;
    z-index: 10;
    background-color: #fff;
    color: #AFAFAF;
    transition: transform 200ms linear;
    cursor: pointer;
}

.product-list.in-cart:hover .cart-add,
.product-list.in-cart:hover .cart-less {
    display: block;
}

.product-list .cart-add:hover,
.product-list .cart-less:hover {
    background: #F5A623;
    color: #fff;
}

/*
.product-list.in-cart:hover .cart-add,
.product-list.in-cart:hover .cart-less {
  transform: translateX(0%) !important;
}
*/
.cart-less {
    left: 4px;
    padding: 8px 11px 8px 11px;
    /*transform: translateX(-110%);*/
}

.cart-add {
    right: 4px;
    padding: 8px 11px 8px 11px;
    /*transform: translateX(110%);*/
}

.cart-add-initial p {
    font-size: 13px;
}

.sub-category {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background-color: #fff;
}

.sub-category a {
    display: block;
    padding: 9px 10px;
    margin: 0 0 0 14px;
    color: #333;
    font-size: 12px;
}

.sub-category.on {
    max-height: 5000px;
}

.nav-pills > li > a {
    color: #30323E;
    border-radius: 0;
    font-size: 13px;
    padding: 8px 24px 8px 14px;
}

.nav-stacked > li {
    border-bottom: 1px solid #EFEFF4;
}

.nav > li > a:hover:not(.link),
.nav > li > a:focus:not(.link) {
    background-color: transparent;
}

.top-category:not(.link) span.click-link:hover {
    text-decoration: underline;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.sub-category a:last-child {
    margin-top: 5px;
}

.sub-category a:last-child {
    margin-bottom: 5px;
}

.top-category.open, .top-category:hover.open {
    background-color: #343643 !important;
    color: #fff;
}

.top-category:hover {
    background-color: #eaeaea !important;
}

.top-category span.caret {
    float: right;
    margin-top: 7px;
    border-top-color: #333 !important;
    border-bottom-color: #333 !important;
    position: absolute;
    right: 13px;
    top: 9px;
}

.top-category.open span.caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

#change-store {
    display: inline-block;
}

.categories.web > .nav {
    position: fixed;
    top: 68px;
    transition: transform 200ms linear;
    width: 211px;
    left: 0;
    background-color: #fafafa;
    border-right: 1px solid #F0EFF4;
}

.categories.web.pinned > .nav {
    /*transform: translateY(70px);*/
}

.autocomplete {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 36px !important;
    left: 0;
    right: 0;
    z-index: 10;
    color: #333;
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    padding: 0;
    width: 128%;
}

.autocompleting .autocomplete,
.autocomplete:hover {
    display: block;
}

.autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.autocomplete li {
    height: 55px;
    border-bottom: 1px solid #EFEFEF;
    padding: 10px;
    line-height: 35px;
}

.autocomplete li:last-child {
    border-bottom: none;
    height: auto !important;
}

.autocomplete img {
    max-height: 30px;
}

.autocomplete li:hover {
    background: #FBFBFB;
}

.autocomplete .btn {
    margin-top: 1px;
    font-size: 12px;
    padding: 6px;
}

.autocompleting input {
    border-radius: 3px 0 0 0;
}

.autocompleting .btn-default {
    border-radius: 0 3px 0 0 !important;
}

.navbar-form.navbar-left .btn-default {
    border-radius: 0 3px 3px 0;
}

.headroom--unpinned .autocomplete {
    display: none;
}

.autocomplete .name,
.autocomplete .price {
    line-height: 17px;
}

.autocomplete .price {
    color: #999;
}

.form-control.error {
    border-color: #E09393;
    background-color: #FFF5F5;
}

.product-view {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    margin-bottom: 20px;
}

.header-top {
    position: relative;
    top: 40px;
}

label.error {
    color: #FF0000;
}

a {
    outline: 0;
}

.unseen {
    display: none;
}

.referral-msg {
    margin: 20px;
}

.navbar-form {
    width: 100%;
}

.font-small {
    font-size: 11px;
}

.checkout-success {
    margin-bottom: 40px;
}

.loading {
    margin-top: 10px;
}

.categories .nav {
    overflow-y: auto;
}

.autocomplete-search {
    min-height: auto !important;
}

.autocomplete-search a {
    width: 100%;
    display: block;
    text-align: center;
    word-break: break-word;
    /*min-height: 96px !important;*/
}

body.home {
    background: url(../img/fondo-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.home h3,
body.home p {
    color: #fff;
}

body.home .pro-bg-no {
    background-color: transparent;
}

body.home .modal-header {
    border-bottom: none;
}

body.home .form-group *[class*="col-"] {
    /* padding: 0; */
    background-color: #fff;
    border: none;
}

body.home .form-group label,
body.home .form-group select {
    background: #fafbfd !important;
    border-right: 1px solid #b7bac3 !important;
    border-left: 1px solid #b7bac3 !important;
}

body.home .form-group .form-control {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

body.home .form-group *[class*="col-"]:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 0;
}

body.home .form-group *[class*="col-"]:last-child {
    border-radius: 0 5px 5px 0;
}

body.home input, body.home select {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
}

body.home label.col-xs-1 {
    line-height: 34px;
}

body.home .logo {
    background: url(../img/logo-header-x.png);
    width: 234px;
    height: 65px;
    margin-bottom: 20px;
}

.portatil {
    background: url(../img/portatil-home.png);
    width: 336px;
    height: 387px;
    position: fixed;
    top: 50%;
    margin-top: -135px;
}

.bolsa {
    background: url(../img/bolsa-home.png);
    width: 336px;
    height: 575px;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -312px;
}

body.with-stores .portatil {
    left: -150px;
}

body.with-stores .bolsa {
    right: -150px;
}

body.homeÂ .dropdown-menu {
    background: transparent !important;
}

body.home .pro-bg:not(.single_product):not(.single_department):not(.single_shelf):not(.all_departments) {
    background: transparent;
}

h4.tiempo-entrega {
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, .6);
    display: inline-block;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .2);
}

.tiempo-entrega img {
    width: 24px;
}

.carousel {
    height: auto;
}

.carousel img {
    width: 100%;
}

.cont_search_cart {
    display: none;
    text-align: center;
}

.cont_search_cart div {
    display: inline-block;
    vertical-align: top;
    max-width: 30%;
    min-width: 26%;
    margin: 5px 0px;
}

.cont_search_cart .dataactitem {
    line-height: 2;
}