* {
    box-sizing: border-box;
}
html,body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #F9FAFC;
    height: 100vh;
}

/* Reset margin */
h1, h2, p {
    margin: 0;
    padding: 0;
}

/*Estilos del Home*/
.merqueo-rate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header" "content" "footer";
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    height: auto;
    padding: 30px 0;
    text-align: center;
    grid-area: header
}

.navbar-default img {
    width: 126px;
    margin-top: 2px;
}

#driver-image {
    margin-top: 25%;
    margin-bottom: 30px;
    width: 132px;
    height: 132px;
}

/*
h1 {
    font-weight: bold;
    color: #29292F;
    font-size: 36px;
    line-height: 46px;
}

h2 {
    font-size: 20px;
    line-height: 46px;
    color: #575760;
    margin-bottom: 15px;
}

p {
    margin-bottom: 22px;
}
*/

#button-group img {
    width: 112px;
    height: 112px;
    cursor: pointer;
    outline: none;
}

#button-group img:nth-child(1) {
    margin-right: 36px;
}

/*-- Modificaciones del home --*/
.user-rate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    grid-template-areas: "info anim";
    background-color: #F9FAFC;
    padding-top: 56px;
    grid-area: content;
}
    .user-rate .user-rate__information {
        grid-area: info;
        justify-self: end;
    }
        .user-rate .user-rate__information h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 56px;
            color: #333333;
            margin-bottom: 20px;
        }
        .user-rate .user-rate__information h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 44px;
            color: #333333;
            margin-bottom: 40px;
        }
        .user-rate .user-rate__information p {
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 36px;
            color: #333333;
            margin-bottom: 40px;
        }
        .user-rate .user-rate__information .user-rate__information__buttons {}
            .user-rate .user-rate__information .user-rate__information__buttons .button-user-rate {
                border-radius: 4px;
                color: #ffffff;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                height: 80px;
                line-height: 44px;
                text-align: center;
                width: 80px;
            }
            .user-rate .user-rate__information .user-rate__information__buttons .button-user-rate.button-user-rate--positive {
                background: #1BC47C;
                border: 2px solid #1BC47C;
                margin-left: 15px;
            }
            .user-rate .user-rate__information .user-rate__information__buttons .button-user-rate.button-user-rate--negative {
                background: #F81616;
                border: 2px solid #F81616;
                margin-right: 15px;
            }
    .user-rate .user-rate__animation {
        height: 340px;
        grid-area: anim;
        justify-self: start;
        margin-left: 60px;
    }

.merqueo-rate__copyright {
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    margin: 50px auto 30px;
    text-align: center;
    grid-area: footer;
}

.button-user-rate-flat {
    border-radius: 5px;
    padding: 17px 60px;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
}

.button-user-rate-flat:focus, .button-user-rate-flat:active {
    outline: none;
    border: none;
}

.button-user-rate-flat.button-user-rate-flat--blue {
    background-color: #0050F5;
    color: #ffffff;
}

.container-loading {
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lottie-loading {
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .user-rate {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        grid-template-areas: "info" "anim";
        padding-top: 25px;
    }
        .user-rate .user-rate__information {
            padding: 0 15px;
            text-align: center;
            margin: 0 auto;
        }
            .user-rate .user-rate__information h1 {
                font-size: 36px;
                line-height: 42px;
            }
            .user-rate .user-rate__information p {
                font-size: 20px;
                line-height: 27px;
            }

    .user-rate .user-rate__information .user-rate__information__buttons .button-user-rate {
        padding: 0;
    }
        .user-rate .user-rate__animation {
            margin: 30px auto 0;
            height: 200px;
        }

}

/*Estilos del Home*/

/*Estilos problemas con productos*/

.card-style {
    padding: 14px 17px;
    box-shadow: 0 0 30px 10px #f1f1f1;
    margin-bottom: 40px;
    font-size: 16px;
    position: relative;
    display: block;
}

ul.card-style {
    list-style: none;
}

/*Estilos problemas con productos*/

.pure-checkbox input[type="checkbox"], .pure-radiobutton input[type="checkbox"], .pure-checkbox input[type="radio"], .pure-radiobutton input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.easies-item {
    margin-bottom: 10px;
}

.pure-checkbox input[type="checkbox"]:focus + label:before, .pure-radiobutton input[type="checkbox"]:focus + label:before, .pure-checkbox input[type="radio"]:focus + label:before, .pure-radiobutton input[type="radio"]:focus + label:before, .pure-checkbox input[type="checkbox"]:hover + label:before, .pure-radiobutton input[type="checkbox"]:hover + label:before, .pure-checkbox input[type="radio"]:hover + label:before, .pure-radiobutton input[type="radio"]:hover + label:before {
    border-color: rgb(62, 134, 255);
    background-color: #f2f2f2;
}

.pure-checkbox input[type="checkbox"]:active + label:before, .pure-radiobutton input[type="checkbox"]:active + label:before, .pure-checkbox input[type="radio"]:active + label:before, .pure-radiobutton input[type="radio"]:active + label:before {
    transition-duration: 0s;
}

.pure-checkbox input[type="checkbox"] + label, .pure-radiobutton input[type="checkbox"] + label, .pure-checkbox input[type="radio"] + label, .pure-radiobutton input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.pure-checkbox input[type="checkbox"] + label:before, .pure-radiobutton input[type="checkbox"] + label:before, .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before {
    box-sizing: content-box;
    content: '';
    color: rgb(62, 134, 255);
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: -9px;
    border: 2px solid rgb(185, 185, 185);
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 0.2em;
}

.pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
    box-sizing: content-box;
    content: '';
    background-color: rgb(62, 134, 255);
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

.pure-checkbox input[type="checkbox"]:disabled + label:before, .pure-radiobutton input[type="checkbox"]:disabled + label:before, .pure-checkbox input[type="radio"]:disabled + label:before, .pure-radiobutton input[type="radio"]:disabled + label:before {
    border-color: #cccccc;
}

.pure-checkbox input[type="checkbox"]:disabled:focus + label:before, .pure-radiobutton input[type="checkbox"]:disabled:focus + label:before, .pure-checkbox input[type="radio"]:disabled:focus + label:before, .pure-radiobutton input[type="radio"]:disabled:focus + label:before, .pure-checkbox input[type="checkbox"]:disabled:hover + label:before, .pure-radiobutton input[type="checkbox"]:disabled:hover + label:before, .pure-checkbox input[type="radio"]:disabled:hover + label:before, .pure-radiobutton input[type="radio"]:disabled:hover + label:before {
    background-color: inherit;
}

.pure-checkbox input[type="checkbox"]:disabled:checked + label:before, .pure-radiobutton input[type="checkbox"]:disabled:checked + label:before, .pure-checkbox input[type="radio"]:disabled:checked + label:before, .pure-radiobutton input[type="radio"]:disabled:checked + label:before {
    background-color: #cccccc;
}

.pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
}

.pure-checkbox input[type="checkbox"]:checked + label:after, .pure-radiobutton input[type="checkbox"]:checked + label:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
}

.pure-checkbox input[type="radio"]:checked + label:before, .pure-radiobutton input[type="radio"]:checked + label:before {
    animation: borderscale 300ms ease-in;
    background-color: white;
}

.pure-checkbox input[type="radio"]:checked + label:after, .pure-radiobutton input[type="radio"]:checked + label:after {
    transform: scale(1);
}

.pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
    border-radius: 50%;
}

.pure-checkbox input[type="checkbox"]:checked + label:before, .pure-radiobutton input[type="checkbox"]:checked + label:before {
    animation: borderscale 200ms ease-in;
    background: rgb(62, 134, 255);
    border: 2px solid rgb(62, 134, 255);
}

.pure-checkbox input[type="checkbox"]:checked + label:after, .pure-radiobutton input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px rgb(62, 134, 255);
    }
}

textarea.rate-comment {
    background: #F7F7F7;
    border: 0;
    outline: none !important;
    padding: 10px;
    color: #9898A1;
}

textarea.rate-comment::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9898A1;
}

textarea.rate-comment::-moz-placeholder { /* Firefox 19+ */
    color: #9898A1;
}

textarea.rate-comment:-ms-input-placeholder { /* IE 10+ */
    color: #9898A1;
}

textarea.rate-comment:-moz-placeholder { /* Firefox 18- */
    color: #9898A1;
}

/*Estilos del modal de los productos*/

.merqueo-select {
    border: 1px solid #a7a7a7;
    border-radius: 0.2em;
}

md-toolbar.toolbar-score-rate {
    background: #f4f4f4;
}

md-select md-select-value:nth-child(1) span {
    text-align: center;
    color: black;
}

md-select.active {
    border: 1px solid #3A86FF;
}

md-select.active .md-select-icon {
    transform: rotate(180deg);
    color: #3A86FF;
}

md-select.active .md-text {
    color: #3A86FF;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: transparent;
}

.md-toolbar-tools h2 {
    font-size: 20px;
    line-height: 46px;
    color: #575760;
    margin-bottom: 15px;
}

span.not-available {
    background: #FF4545;
    color: white;
    font-size: 13px;
    position: absolute;
    padding: 1px 5px;
    right: 2%;
    top: -5px;
}

div.not-available {
    opacity: 0.5;
}

img.than-you-page-image {
    margin-top: 5%;
    width: 31%;
    max-width: 369px;
}

.md-button.md-primary.md-raised {
    background-color: #3A86FF;
    color: white;
    max-width: 100%;
}

.rate-button {
    width: 480px!important;
    height: 60px;
    font-size: 150%;
    text-transform: none;
}

p.rate-message {
    font-size: 25px;
    margin-bottom: 50px;
}

h1.rate-title {
    margin-top: 50px;
    margin-bottom: 0;
}

.group-list > div {
    padding: 16px 0 16px 13px;
    margin-bottom: 0;
    border-radius: 4px;
    transition: all 0.2s;
}

.group-list > div:hover {
    background-color: #EFF3F6;
}

.group-list > div label {
    width: 90%;
    display: inline-block;
}

md-list-item {
    border-bottom: 1px solid #DDDD;
    margin: 20px 30px;
}

.md-button.md-raised[disabled] {
    background-color: #3a86fe7a;
}

@media (max-width: 767px) {
    .move-on-mobile {
        width: 100%!important;
        display: block;
        text-align: left!important;
    }
}

.md-dialog-container {
    min-height: 100%;
    height: 100vh;
}

.common-blue {
    background-color: #3A86FF;
}

.save-button {
    color: white;
    box-shadow: 0 0 -2px 4px #dddddd;
    font-weight: bolder;
    font-size: 120%;
    text-transform: capitalize;
    padding: 7px 0;
}

md-select-value {
    padding: 7px 14px!important;
}

.btn-add-products {
    padding: 16px 17px;
    transition: all 0.2s;
    outline: none;
    cursor: pointer;
}

.btn-add-products:hover {
    background-color: #f0f2f8;
}

.btn-add-products:hover #link {
    color: #3A86FF
}
