.unseen{
	display: none;
}
.form-has-errors{
	margin-left: 0 !important;
}
.btn-group .dropdown-menu{
	left: -100px !important;
}
.container-overflow{
	border: 1px solid #CCCCCC;
	overflow: auto;
	overflow-x: hidden;
	padding: 5px;
	height: 200px;
	display: block;
}
#modal-credits .modal-dialog{
	width: 740px;
}
#modal-zone .modal-dialog{
	width: 1000px;
}
#map_canvas{
	height: 400px !important;
}
.autocomplete-admin{
	list-style: none;
	border: 1px solid #CCCCCC;
	padding: 0;
	position: absolute; width: 98%;
	z-index: 99999;
}
.autocomplete-admin li{
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.autocomplete-admin li .name{
	color: #000000;
}
.autocomplete-admin li .price{
	color: #005888;
}
.autocomplete-admin li:last-child{
	border-bottom: none;
}
.orders-scheduled_delivery,
.orders-scheduled_delivery td{
	background-color: #FFFB89 !important;
}
.orders-suspect,
.orders-suspect td{
	background-color: #FF9244 !important;
}
.orders-posible_fraud,
.orders-posible_fraud td,
.orders-posible_fraud td span.font-green,
.orders-posible_fraud td span.font-red{
	background-color: #B70000 !important;
	color: #FFFFFF !important;
}
p.orders-posible_fraud{
	padding: 10px;
}
.font-red{
	color: red;
}
.font-green{
	color: green;
}
.callout-info p label{
	color: #686868 !important;
}
.block-order-store{
	border: 1px solid #ccc;
	padding: 0 10px;
	margin: 10px 0;
}
.routes-map h4{
	font-size: 18px;
    color: white;
    text-align: center;
    font-weight: bold;
}
#route-map-form{
	padding: 0 10px;
}
#route-map-form label{
	font-size: 14px;
}
#route-map-form p{
	font-size: 11px;
	color: #FFFFFF;
}
.route-block{
	width: 100%;
	padding: 10px;
}
#routes{
	overflow: auto;
	height: 500px;
}
.orders-details-link{
	color: red;
	text-decoration: underline;
	margin-right: 5px;
}
.excel-icon {
    cursor: pointer;
    margin-left: 50px;
    display: inline-block;
}
.excel-icon:hover {
    cursor: pointer;
}
.excel-icon > img:hover {
    cursor: pointer;
}
#btn-change-delivery-date{
    margin-left: 50px;
}
.position-label{
	font-weight: bold;
	font-size: 30px;
	padding-left: 15px;
}

.percentage-input {
	position: relative;
}

.percentage-input input {
	width: 95%;
}

.percentage-input:after {
	content: '%';
	position: absolute;
	left: 92%;
	top: 23%;
	width: 5%;
	text-align: center;
}

.product-distribution {
	border: 1px solid #eaeaeadd;
	padding: 3%;
	border-radius: 0.2em;
}

@media (max-width: 1024px){
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
}

.slot-warehouses-container input{
	padding: 2px;
}