.order-item{
	background: #f0f8ff;
	margin-bottom: 1rem;
	padding: 1rem;
}

.order-item a{
	color: #656565;
}
.order-item a label{
	color: #000;
}
.list-group-item{
	background: #f0f8ff;
}
.list-group-item.alert-success,
.checks.alert-success,
.order-item.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #000;
}
.list-group-item.alert-danger,
.checks.alert-danger,
.order-item.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #000;
}

.list-group-item .glyphicon-ok,
.checks .glyphicon-ok{
	color: #3c763d;
}

.list-group-item .glyphicon-remove,
.checks .glyphicon-remove{
	color: #a94442;
}
.bag {
	color: white;
	background-color: #ff00dc;
	font-size: 19px;
	padding: 0 10px;
	margin: 10px 0;
}